.about-mission {

  &__body {
    padding: 120px 0 0 0;
    @include tablet{
      padding: 20px 0 0 0;
    }
  }

  &__list {
    display: flex;
    justify-content: space-between;
    @media(max-width: 600px){
      display: block;
    }
  }

  &__item {
    flex: 0 1 33.333%;
    text-align: center;
    border-right: 1px solid rgba(218, 219, 221, 0.5);
    @media(max-width: 600px){
      margin-bottom: 10px;
      border: none;
    }
    &:last-child{
      border: none;
    }
    &--container {
      max-width: 285px;
      margin: 0 auto;
      padding: 0px 10px;
    }
    &--icon {
      svg{
        width: 48px;
        height: 48px;
      }
    }
    &--title {
      margin: 24px 0px 8px 0px;
      text-align: center;
    }
  
    &--text {
      font-family: 'Ubuntu';
      font-weight: 400;
      font-size: 16px;
      line-height: 160%;
      text-align: center;
      color: #787A80;
    }
  }
}

.about-mission {

  &__forma {
    position: relative;
    top: 110px;
    padding: 60px 60px 40px;
    background: #FFFFFF;
    box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
    border-radius: 4px;
    @include tablet{
      margin: 0 20px;
      top: 80px;
    }
    @media(max-width: 600px){
      position: static;
      top:0px;
      left: 0px;
      padding: 60px 10px 40px;
      margin: 0 0;
    }
  }

  &__forma--title {
    margin-bottom: 32px;
    text-align: center;
  }

  &__forma--body {
    display: grid;
    grid-template-columns: minmax(150px,260px) minmax(150px,260px) minmax(200px,414px) auto;
    gap: 24px;
    @media(max-width: 820px){
      grid-template-columns: 25% 25% 25% auto;
      gap: 15px;
    }
    @media(max-width: 600px){
      display: block;
    }
  }

  &__forma--input {
    @media(max-width: 600px){
      margin-bottom: 20px;
    }
    input{
      width: 100%;
      border: 1px solid #D7DADD;
      border-radius: 4px;
      padding: 11px 16px 12px ;
      background: #F4F5F7;
      font-family: 'Ubuntu';
      font-weight: 400;
      font-size: 14px;
      line-height: 150%;
      color: #9A9CA5;
    }
    @media(max-width: 820px){
      grid-column:span 2;
    }
    .input {
      &__text {
        font-family: 'Ubuntu';
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
        color: #424551;
        margin-bottom: 8px;
      }
    }
  }

  &__forma--button {
  align-self: flex-end;
  @media(max-width: 820px){
    justify-self: flex-end;
    grid-column:span 2;
  }
  button{
    @media(max-width: 600px){
      width: 100%;
    }
  }
  }
}
