.clients-company {
  background: #F4F5F7;

  &__body {
    position: relative;
    padding: 100px 0 120px 0 ;
    @media(max-width:1200px){
      padding: 100px 0 60px 0 ;
    }
    @media(max-width:900px){
      padding: 60px 0 90px 0 ;
    }
    @include tablet {
      padding: 50px 0 50px 0 ;
    }
  }
  &__left {
    max-width: 600px;
    @media(max-width:1024px){
      max-width: 450px;
    }
    @media(max-width:900px){
      max-width: 100%;
    }
  }
  &__list {
    margin-top: 60px;
    .slider-nav {
      justify-content: flex-end;
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }
  &__photo {
    position: absolute;
    top: 100px;
    right: 0;
    width: 495px;
    height: 550px;
    @media(max-width:1200px){
      width: 425px;
      height: 490px;
      }
      @media(max-width:900px){
        display: none;
      }
    img {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__item--avatar {
    width: 72px;
    height: 72px;
    border-radius: 50%;
  }

  &__item--text {
    font-family: 'Ubuntu';
    font-weight: 400;
    font-size: 16px;
    color: #424551;
    margin: 33px 0px 38px;
  }

  &__item--bottom {
    display: flex;
    justify-content: space-between;
  }

  &__item--information--name {
    font-family: 'Ubuntu';
    font-weight: 700;
    font-size: 16px;
    color: #1E212C;
    margin-bottom: 16px;
  }

  &__item--information--position {
    font-family: 'Ubuntu';
    font-weight: 400;
    font-size: 14px;
    color: #787A80;
  }
}
