
.header {
  position: relative;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  @include tablet{
    &::before {
      content: '';
      position: absolute;
      z-index: 2;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #ffffff;
    }
  }
  &__body {
    display: flex;
    justify-content: space-between;
    padding: 22px 0px;
    align-items: center;
    position: relative;
    @include tablet{
      padding: 15px 0px;
    }
  }

  &__logo {
    position: relative;
    z-index: 3;
  }

  &__burger {
    display: none;
    @include tablet{
      display: block;
      width: 30px;
      height: 20px;
      position: relative;
      z-index: 3;
      span {
        position: absolute;
        height: 2px;
        background-color: #000000;
        transition: all 0.4s ease 0s;
        &:nth-child(1){
          top: 0;
          left: 0;
          width: 50%;
        }
        &:nth-child(2){
          top: 0;
          right: 0;
          width: 50%;
        }
        &:nth-child(3){
          left: 0;
          top: 9px;
          width: 100%;
        }
        &:nth-child(4){
          left: 0;
          bottom: 0;
          width: 50%;
        }
        &:nth-child(5){
          right: 0;
          bottom: 0;
          width: 50%;
        }
      }
      &.active{
        span{
          &:nth-child(1){
            transform: rotate(45deg);
            top: 4px;
            left: 3px;
          }
          &:nth-child(2){
            transform: rotate(-45deg);
            top: 4px;
            right: 3px;
          }
          &:nth-child(3){
            transform: scale(0.1,1);
          }
          &:nth-child(4){
            transform: rotate(-45deg);
            bottom: 4px;
            left: 2px;
          }
          &:nth-child(5){
            transform: rotate(45deg);
            bottom: 4px;
            right: 2px;
          }
        }
      }
    }
    
  }

  &__menu {
    position: relative;
    z-index: 3;
    @include tablet{
      position: fixed;
      top: -100%;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #fff;
      padding: 75px 10px 20px 10px;
      overflow: auto;
      transition: all 0.5s ease 0s;
      z-index: 1;
      &.active{
        top:0;
      }
    }
  }

  &__contacts {
    position: relative;
    z-index: 3;
    display: flex;
    img{
      margin-right: 12px;
    }
    @media(max-width:1100px){
      display: none;
    }
  }
}
.menu {

  &__list {
    display: flex;
    margin-left: -113px;
    @media(max-width:1200px){
      margin-left: 0px;
    }
    @include tablet{
      position: relative;
      display: block;
    }
  }

  &__item {
    margin-right: 40px;
    &:last-child{
      margin-right: 0px;
    }
    @include tablet{
      margin: 0px 0px 30px 0px;
      text-align: center;
    }
  }

  &__link {
    font-family: 'Ubuntu';
    font-weight: 700;
    font-size: 16px;
    line-height: 160%;
    color: #424551;
    transition: all 0.4s ease 0s;
    &:hover{
      color: #fc3300;
    }
    @include tablet{
      font-size: 30px;
    }
  }
}
.contacts {
  &__telephone {
    display: flex;
  }

  &__title {
    font-family: 'Ubuntu';
    font-weight: 700;
    font-size: 14px;
    line-height: 150%;
    color: #424551;
  }

  &__value {
    font-family: 'Ubuntu';
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #1E212C;
    transition: all 0.4s ease 0s;
    &:hover{
      color: #fc3300;
    }
  }

  &__email {
    display: flex;
    margin-left: 36px;
  }
}

.header-page {
  position: absolute;
}
.header-main{
  position: relative;
}