
.hero-page {
  background: #F4F5F6;
  @media(min-width:769px){
    background: url('../img/service/service-hero.png') top right/ 975px 600px no-repeat;
  }
  &__body {
    padding: 156px 0 183px 0;
    @media(max-width: 600px){
      padding:100px 0px 80px 0px;
    }
  }

  &__way {
    display: flex;
  }

  &__way--home {
    font-family: 'Ubuntu';
    font-weight: 400;
    font-size: 14px;
    color: #424551;
  }

  &__way--page {
    padding-left: 20px;
    font-family: 'Ubuntu';
    font-weight: 400;
    font-size: 14px;
    color: #424551;
    position: relative;
    &::before {
      padding-left: 8px;
      content: '/';
      position: absolute;
      left: 0;
      top: 0;
    }
    &.active {
    }
  }

  &__title {
    font-family: 'Ubuntu';
    font-weight: 700;
    font-size: 72px;
    letter-spacing: 1px;
    color: #1E212C;
    margin: 40px 0 50px 0;
    @media(max-width: 600px){
      font-size: 36px;
    }
  }

  &__text {
    font-family: 'Ubuntu';
    font-weight: 400;
    font-size: 20px;
    color: #787A80;
    max-width: 600px;
  }
}

