.how-we-do {

  &__body {
    padding: 60px 0 120px;
    @media(max-width:600px) {
      padding: 60px 0px;
    }
  }
  &__title {
    margin-bottom: 60px;
    @media(max-width:600px) {
      margin-bottom: 30px;
    }
  }
  &__list {
    display: flex;
    justify-content: space-between;
    @media(max-width:1023px){
      flex-wrap: wrap;
      justify-content: space-around;
    }
  }

  &__item {
    flex: 0 1 285px;
    padding: 0 10px;
    justify-self: flex-start;
    @media(max-width:1023px){
      margin-bottom: 20px;
      &:last-child {
        margin-bottom: 0px;
      }
    }
  }
  &__item--order {
    position: relative;
    font-family: 'Ubuntu';
    font-weight: 700;
    font-size: 46px;
    line-height: 130%;
    color: #D7DADD;
    &::before {
      content: '';
      position: absolute;
      top: 50%;
      right: 0;
      width: 73%;
      height: 1px;
      background:url('../img/service/line.png');
      @media(max-width:1023px){
        display: none;
      }
    }
    &-end::before{
      display: none;
    }
  }

  &__item--caption {
    font-family: 'Ubuntu';
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    color: #1E212C;
  }

  &__item--description {
    font-family: 'Ubuntu';
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #787A80;
  }
}

