.news-page {
  &__body {
    padding: 120px 0 120px;
    @media(max-width:600px){
      padding: 60px 0;
    }
  }

  &__navbar {
    margin: 40px 0 60px;
    display: flex;
    justify-content: space-between;
    @media(max-width:700px) {
      flex-wrap: wrap;
      justify-content: space-around;
    }
  }

  &__tab {
    margin-left: 10px;
    font-family: 'Ubuntu';
    font-weight: 400;
    font-size: 16px;
    color: #9A9CA5;
    flex: 0 1 205px;
    text-align: center;
    padding: 10px 0;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.4s ease 0s;
    &:first-child{
      margin-left: 0px;
    }
    @media(max-width:700px) {
      flex: 0 1 150px;
      margin-bottom: 10px;
      margin-left: 0px;
    }
    &.active {
      color: #FF5A30;
      border: 1px solid #FF5A30;
      border-radius: 4px;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    @media(max-width:750px){
      grid-template-columns: repeat(1, 1fr);
    }
    .news__item {
      display: none;
      &.visible{
        display: block;
      }
    }
  }

  &__item--img {
    position: relative;
    padding: 0 0 51% 0;
    img {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}


.news-page {

  &__navigation {
    display: flex;
    max-width: 144px;
    justify-content: space-around;
    margin: 60px auto 0px;
  }
  &__page {
    font-family: 'Ubuntu';
    font-weight: 700;
    font-size: 16px;
    line-height: 160%;
    color: #424551;
    cursor: pointer;
    &.active {
      color: #FF5A30;
    }
  }
  &__arrow {
    align-self: center;
    cursor: pointer;
    &--left {
      visibility: hidden;
      transform:rotate(180deg);
      align-self: center;
      position:relative;
      top:-2px;
    }
    &--right {
      visibility: hidden;
    }
  }
}

/*
          <div class="news-page__page active">1</div>
          <div class="news-page__page">2</div>
          <div class="news-page__page">3</div>
          <div class="news-page__page">4</div>
*/