.service-offers {

  &__body {
    padding: 120px 0;
    display: flex;
    justify-content: space-between;
    @media(max-width:1023px){
      display: block;
    }
    @media(max-width:600px) {
      padding: 60px 0;
    }
  }
  &__img {
    position: relative;
    left: 0;
    top: 0;
    max-height: 440px;
    flex: 0 1 705px;
    @media(max-width:1023px){
      padding: 0 0 50% 0;
    }
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__list {
    margin-left: 10px;
    &--title {
      margin-bottom: 60px;
      @media(max-width:1023px){
        margin:20px 0 60px;
      }
    }
  }

  &__item {
    position: relative;
    padding-left: 46px;
    margin-bottom: 24px;
    &:last-child {
      margin-bottom: 0px;
    }
    &::before {
      content: '';
      position: absolute;
      margin-top: 10px;
      top: 12px;
      left: 0;
      width: 24px;
      height: 2px;
      background-color: #FF5A30;
    }
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 12px;
      width: 2px;
      height: 24px;
      margin-top: 10px;
      background-color: #FF5A30;

    }
  }
  &__item--text {
    max-width: 376px;
    font-family: 'Ubuntu';
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #787A80;
  }
}
