.to-top {
display: flex;
position: fixed;
right: calc((100% - 1230px)/ 2);
bottom: 80px;
z-index: 100;
opacity: 0;
visibility: hidden;
transition: opacity .3s ease-in-out,visibility .3s ease-in-out;
@media(max-width:1300px){
  right: 20px;
  bottom: 40px;
}
  &--active {
    opacity: 1;
    visibility: visible;
  }
  &__title {
    font-family: 'Ubuntu';
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #FFFFFF;
    text-shadow: 3px 3px 11px #969696;
    align-self: flex-end;
    margin-right: 16px;
  }

  &__icon {
    width: 40px;
    height: 40px;
    background-color: #FF5A30;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &.modal{
    display: none;
  }
}
