.service-summary {

  &__body {
    padding:120px 0px 180px
  }

  &__item {
    display: flex;
    align-items: center;
  }

  &__item--img {
  }

  &__item--text-block {
    padding-left: 80px;
  }

  &__item--title {
    font-family: 'Ubuntu';
    font-weight: 700;
    font-size: 32px;
    color: #1E212C;
  }

  &__item--subtitle {
    margin: 40px 0px 50px 0px;
    max-width: 575px;
  }

  &__item--button {
  }
}
.button--item {
}
