<section class="about-section">
  <div class="container">
    <div class="about-section__body">
      <div class="about-section__title title--section">
        We are Createx Construction Bureau 
      </div>
      <div class="about-section__subtitle subtitle-section">
        We are rightfully considered to be the best construction company in the USA.
      </div>
      <div class="about-section__video">
        <button class="video__play" aria-label="Play video">
          <svg>
            <use xlink:href='./img/sprite.svg#play'></use>
          </svg>
        </button>
        <video class="video__block" src="./video/build.mp4" muted loop preload="metadata"></video>
      </div>
    </div>
  </div>
</section>