<section class="about-stat">
  <div class="container">
    <div class="about-stat__body">
      <div class="about-stat__list">
        <div class="about-stat__item">
          <div class="about-stat__icon">
            <svg class="about-stat__svg">
              <use xlink:href='./img/sprite.svg#quality'></use>
            </svg>
          </div>
          <div class="about-stat__num">60%</div>
          <div class="about-stat__text">Clients on the recommendation of friends</div>
        </div>
        <div class="about-stat__item">
          <div class="about-stat__icon">
            <svg class="about-stat__svg">
              <use xlink:href='./img/sprite.svg#repairs'></use>
            </svg>
          </div>
          <div class="about-stat__num">2400+</div>
          <div class="about-stat__text">Apartments renovated</div>
        </div>
        <div class="about-stat__item">
          <div class="about-stat__icon">
            <svg class="about-stat__svg">
              <use xlink:href='./img/sprite.svg#workers'></use>
            </svg>
          </div>
          <div class="about-stat__num">670</div>
          <div class="about-stat__text">Qualified specialists</div>
        </div>
        <div class="about-stat__item about-stat__item--bigger">
          <div class="about-stat__icon">
            <svg class="about-stat__svg">
              <use xlink:href='./img/sprite.svg#interior-design'></use>
            </svg>
          </div>
          <div class="about-stat__num">150000+ m2</div>
          <div class="about-stat__text">Finishing work was carried out</div>
        </div>
      </div>
    </div>
  </div>
</section>