<section class="team">
  <div class="container">
    <div class="team__body">
      <div class="team__title title--section ">Our team</div>
      <div class="team__subtitle subtitle--section">People are at the heart of Createx Construction Bureau</div>
      <div class="team__list">
        <div class="team__item">
          <div class="team__img">
            <img src="./img/team1.jpg" alt="">
          </div>
          <div class="team__social">
            <div class="team__social--container">
              <a href="#" class="linkedin">
                <svg class="team__icon">
                  <use xlink:href='./img/sprite.svg#in'></use>
                </svg>
              </a>
              <a href="#" class="twitter">
                <svg class="team__icon">
                  <use xlink:href='./img/sprite.svg#tw'></use>
                </svg>
              </a>
              <a href="#" class="facebook">
                <svg class="team__icon">
                  <use xlink:href='./img/sprite.svg#fb'></use>
                </svg>
              </a>
            </div>
          </div>
          <div class="team__name">Courtney Alexander</div>
          <div class="team__position">CEO, Co-Founder</div>
        </div>
        <div class="team__item">
          <div class="team__img">
            <img src="./img/team1.jpg" alt="">
          </div>
          <div class="team__social">
            <div class="team__social--container">
              <a href="#" class="linkedin">
                <svg class="team__icon">
                  <use xlink:href='./img/sprite.svg#in'></use>
                </svg>
              </a>
              <a href="#" class="twitter">
                <svg class="team__icon">
                  <use xlink:href='./img/sprite.svg#tw'></use>
                </svg>
              </a>
              <a href="#" class="facebook">
                <svg class="team__icon">
                  <use xlink:href='./img/sprite.svg#fb'></use>
                </svg>
              </a>
            </div>
          </div>
          <div class="team__name">Courtney Alexander</div>
          <div class="team__position">CEO, Co-Founder</div>
        </div>
        <div class="team__item">
          <div class="team__img">
            <img src="./img/team1.jpg" alt="">
          </div>
          <div class="team__social">
            <div class="team__social--container">
              <a href="#" class="linkedin">
                <svg class="team__icon">
                  <use xlink:href='./img/sprite.svg#in'></use>
                </svg>
              </a>
              <a href="#" class="twitter">
                <svg class="team__icon">
                  <use xlink:href='./img/sprite.svg#tw'></use>
                </svg>
              </a>
              <a href="#" class="facebook">
                <svg class="team__icon">
                  <use xlink:href='./img/sprite.svg#fb'></use>
                </svg>
              </a>
            </div>
          </div>
          <div class="team__name">Courtney Alexander</div>
          <div class="team__position">CEO, Co-Founder</div>
        </div>
        <div class="team__item">
          <div class="team__img">
            <img src="./img/team1.jpg" alt="">
          </div>
          <div class="team__social">
            <div class="team__social--container">
              <a href="#" class="linkedin">
                <svg class="team__icon">
                  <use xlink:href='./img/sprite.svg#in'></use>
                </svg>
              </a>
              <a href="#" class="twitter">
                <svg class="team__icon">
                  <use xlink:href='./img/sprite.svg#tw'></use>
                </svg>
              </a>
              <a href="#" class="facebook">
                <svg class="team__icon">
                  <use xlink:href='./img/sprite.svg#fb'></use>
                </svg>
              </a>
            </div>
          </div>
          <div class="team__name">Courtney Alexander</div>
          <div class="team__position">CEO, Co-Founder</div>
        </div>
        <div class="team__item">
          <div class="team__img">
            <img src="./img/team1.jpg" alt="">
          </div>
          <div class="team__social">
            <div class="team__social--container">
              <a href="#" class="linkedin">
                <svg class="team__icon">
                  <use xlink:href='./img/sprite.svg#in'></use>
                </svg>
              </a>
              <a href="#" class="twitter">
                <svg class="team__icon">
                  <use xlink:href='./img/sprite.svg#tw'></use>
                </svg>
              </a>
              <a href="#" class="facebook">
                <svg class="team__icon">
                  <use xlink:href='./img/sprite.svg#fb'></use>
                </svg>
              </a>
            </div>
          </div>
          <div class="team__name">Courtney Alexander</div>
          <div class="team__position">CEO, Co-Founder</div>
        </div>
        <div class="team__item">
          <div class="team__img">
            <img src="./img/team1.jpg" alt="">
          </div>
          <div class="team__social">
            <div class="team__social--container">
              <a href="#" class="linkedin">
                <svg class="team__icon">
                  <use xlink:href='./img/sprite.svg#in'></use>
                </svg>
              </a>
              <a href="#" class="twitter">
                <svg class="team__icon">
                  <use xlink:href='./img/sprite.svg#tw'></use>
                </svg>
              </a>
              <a href="#" class="facebook">
                <svg class="team__icon">
                  <use xlink:href='./img/sprite.svg#fb'></use>
                </svg>
              </a>
            </div>
          </div>
          <div class="team__name">Courtney Alexander</div>
          <div class="team__position">CEO, Co-Founder</div>
        </div>
        <div class="team__item">
          <div class="team__img">
            <img src="./img/team1.jpg" alt="">
          </div>
          <div class="team__social">
            <div class="team__social--container">
              <a href="#" class="linkedin">
                <svg class="team__icon">
                  <use xlink:href='./img/sprite.svg#in'></use>
                </svg>
              </a>
              <a href="#" class="twitter">
                <svg class="team__icon">
                  <use xlink:href='./img/sprite.svg#tw'></use>
                </svg>
              </a>
              <a href="#" class="facebook">
                <svg class="team__icon">
                  <use xlink:href='./img/sprite.svg#fb'></use>
                </svg>
              </a>
            </div>
          </div>
          <div class="team__name">Courtney Alexander</div>
          <div class="team__position">CEO, Co-Founder</div>
        </div>
        <div class="team__item">
          <div class="team__img">
            <img src="./img/team1.jpg" alt="">
          </div>
          <div class="team__social">
            <div class="team__social--container">
              <a href="#" class="linkedin">
                <svg class="team__icon">
                  <use xlink:href='./img/sprite.svg#in'></use>
                </svg>
              </a>
              <a href="#" class="twitter">
                <svg class="team__icon">
                  <use xlink:href='./img/sprite.svg#tw'></use>
                </svg>
              </a>
              <a href="#" class="facebook">
                <svg class="team__icon">
                  <use xlink:href='./img/sprite.svg#fb'></use>
                </svg>
              </a>
            </div>
          </div>
          <div class="team__name">Courtney Alexander</div>
          <div class="team__position">CEO, Co-Founder</div>
        </div>
      </div>
      <div class="team__available">
        Become a part of the best team in the construction market of the USA.
        <a href="positions.html" class="team__link">Available Positions</a>
      </div>
    </div>
  </div>
</section>