<section class="history">
  <div class="container">
    <div class="history__body">
      <div class="history__top">
        <div class="history__title title--section title--left">
          Our history
        </div>
        <div class="slider-nav history__nav">
          <button class="history__prev slider-btn">
            <svg class="nav-icon">
              <use xlink:href="img/sprite.svg#left-arrow"></use>
            </svg>
          </button>
          <button class="history__next slider-btn">
            <svg class="nav-icon">
              <use xlink:href="img/sprite.svg#right-arrow"></use>
            </svg>
          </button>
        </div>
      </div>
      <div class="history__slider">
        <ul class="history-nav">
          <li class="history-nav__item active" data-index="0">Present</li>
          <li class="history-nav__item" data-index="1">March 2019</li>
          <li class="history-nav__item" data-index="2">November 2018</li>
          <li class="history-nav__item" data-index="3">July 2015</li>
          <li class="history-nav__item" data-index="4">August 2010</li>
          <li class="history-nav__item" data-index="5">February 2007</li>
          <li class="history-nav__item" data-index="6">May 2004</li>
          <li class="history-nav__item" data-index="7">October 2001</li>
          <li class="history-nav__item" data-index="8">October 2001</li>
        </ul>
        <div class="swiper-container history__list swiper-no-swiping">
          <div class="swiper-wrapper">
            <div class="swiper-slide history__item">
              <div class="history__item--img">
                <img src="./img/history.jpg" alt="">
              </div>
              <div class="history__item--description">
                Bcelerisque dapibus pharetra nibh semper iaculis duis viverra porttitor in. Eu nec vitae, malesuada vitae egestas integer et morbi. Maecenas sed quis diam posuere malesuada magnis. Bcelerisque dapibus.  Eu nec vitae, 
              </div>
            </div>
            <div class="swiper-slide history__item">
              <div class="history__item--img">
                <img src="./img/history.jpg" alt="">
              </div>
              <div class="history__item--description">
                Bcelerisque dapibus pharetra nibh semper iaculis duis viverra porttitor in. Eu nec vitae, malesuada vitae egestas integer et morbi. Maecenas sed quis diam posuere malesuada magnis. Bcelerisque dapibus.  Eu nec vitae, 
              </div>
            </div>
            <div class="swiper-slide history__item">
              <div class="history__item--img">
                <img src="./img/history.jpg" alt="">
              </div>
              <div class="history__item--description">
                Bcelerisque dapibus pharetra nibh semper iaculis duis viverra porttitor in. Eu nec vitae, malesuada vitae egestas integer et morbi. Maecenas sed quis diam posuere malesuada magnis. Bcelerisque dapibus.  Eu nec vitae, 
              </div>
            </div>
            <div class="swiper-slide history__item">
              <div class="history__item--img">
                <img src="./img/history.jpg" alt="">
              </div>
              <div class="history__item--description">
                Bcelerisque dapibus pharetra nibh semper iaculis duis viverra porttitor in. Eu nec vitae, malesuada vitae egestas integer et morbi. Maecenas sed quis diam posuere malesuada magnis. Bcelerisque dapibus.  Eu nec vitae, 
              </div>
            </div>
            <div class="swiper-slide history__item">
              <div class="history__item--img">
                <img src="./img/history.jpg" alt="">
              </div>
              <div class="history__item--description">
                Bcelerisque dapibus pharetra nibh semper iaculis duis viverra porttitor in. Eu nec vitae, malesuada vitae egestas integer et morbi. Maecenas sed quis diam posuere malesuada magnis. Bcelerisque dapibus.  Eu nec vitae, 
              </div>
            </div>
            <div class="swiper-slide history__item">
              <div class="history__item--img">
                <img src="./img/history.jpg" alt="">
              </div>
              <div class="history__item--description">
                Bcelerisque dapibus pharetra nibh semper iaculis duis viverra porttitor in. Eu nec vitae, malesuada vitae egestas integer et morbi. Maecenas sed quis diam posuere malesuada magnis. Bcelerisque dapibus.  Eu nec vitae, 
              </div>
            </div>
            <div class="swiper-slide history__item">
              <div class="history__item--img">
                <img src="./img/history.jpg" alt="">
              </div>
              <div class="history__item--description">
                Bcelerisque dapibus pharetra nibh semper iaculis duis viverra porttitor in. Eu nec vitae, malesuada vitae egestas integer et morbi. Maecenas sed quis diam posuere malesuada magnis. Bcelerisque dapibus.  Eu nec vitae, 
              </div>
            </div>
            <div class="swiper-slide history__item">
              <div class="history__item--img">
                <img src="./img/history.jpg" alt="">
              </div>
              <div class="history__item--description">
                Bcelerisque dapibus pharetra nibh semper iaculis duis viverra porttitor in. Eu nec vitae, malesuada vitae egestas integer et morbi. Maecenas sed quis diam posuere malesuada magnis. Bcelerisque dapibus.  Eu nec vitae, 
              </div>
            </div>
            <div class="swiper-slide history__item">
              <div class="history__item--img">
                <img src="./img/history.jpg" alt="">
              </div>
              <div class="history__item--description">
                Bcelerisque dapibus pharetra nibh semper iaculis duis viverra porttitor in. Eu nec vitae, malesuada vitae egestas integer et morbi. Maecenas sed quis diam posuere malesuada magnis. Bcelerisque dapibus.  Eu nec vitae, 
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>