<section class="about-ceo">
  <div class="container">
    <div class="about-ceo__body">
      <div class="about-ceo__img">
        <img src="./img/ceo.jpg" alt="">
      </div>
      <div class="about-ceo__card">
        <div class="about-ceo__textblock">
          <p>
            Dapibus nec vitae ante mattis. Aliquam phasellus ac dui augue in. Sed aliquet in egestas hac at proin sed quam. Etiam aliquet sagittis non, massa cum pulvinar. Et in leo, tempus purus vestibulum ut blandit et mi. Odio massa purus vel praesent arcu enim elit felis viverra.
          </p>
          <p>
            Magna aliquam interdum mattis ipsum arcu. Elit odio elit viverra quis metus amet eleifend amet. Vet suspendisse faucibus tempor ipsum integer. 
          </p>
        </div>
        <div class="about-ceo__bottom">
          <div class="about-ceo__data">
            <div class="about-ceo__name">Courtney Alexander</div>
            <div class="about-ceo__position">CEO - Createx Construction Bureau </div>
          </div>
          <div class="about-ceo__sign">
            <img src="./img/sign.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>