<section class="about-mission">
  <div class="container">
    <div class="about-mission__body">
      <div class="about-mission__title title--section">
        Our core values
      </div>
      <div class="about-mission__subtitle subtitle--section">
        Our mission is to set the highest standards for construction sphere.
      </div>
      <div class="about-mission__list">
        <div class="about-mission__item">
          <div class="about-mission__item--container">
            <div class="about-mission__item--icon">
              <svg>
                <use xlink:href='./img/sprite.svg#quality'></use>
              </svg>
            </div>
            <div class="about-mission__item--title title--item">Quality</div>
            <div class="about-mission__item--text">Culpa nostrud commodo ea consequat aliquip reprehenderit. Veniam velit nostrud aliquip sunt.
            </div>
          </div>
        </div>
        <div class="about-mission__item">
          <div class="about-mission__item--container">
            <div class="about-mission__item--icon">
              <svg>
                <use xlink:href='./img/sprite.svg#safety'></use>
              </svg>
            </div>
            <div class="about-mission__item--title title--item">Safety</div>
            <div class="about-mission__item--text">Anim reprehenderit sint voluptate exercitation adipisicing laborum adipisicing. Minim empor est ea.
            </div>
          </div>
        </div>
        <div class="about-mission__item">
          <div class="about-mission__item--container">
            <div class="about-mission__item--icon">
              <svg>
                <use xlink:href='./img/sprite.svg#comfort'></use>
              </svg>
            </div>
            <div class="about-mission__item--title title--item">Comfort</div>
            <div class="about-mission__item--text">Sit veniam aute dolore adipisicing nulla sit culpa. Minim mollit voluptate ullamco proident ea ad.
            </div>
          </div>
        </div>
      </div>
      <div class="about-mission__forma">
        <div class="about-mission__forma--title title--mini">Want to know more? Ask us a question:</div>
        <form action="#" method="get" class="about-mission__forma--body">
          <div class="about-mission__forma--input">
            <div class="input__text">Name</div>
            <input type="text" name="client-name" placeholder="Your name">
          </div>
          <div class="about-mission__forma--input">
            <div class="input__text">Phone</div>
            <input type="tel" name="client-telephone" placeholder="Your phone">
          </div>
          <div class="about-mission__forma--input">
            <div class="input__text">Message</div>
            <input type="text" name="client-message" placeholder="Your message">
          </div>
          <div class="about-mission__forma--button">
            <button type="submit" class="button button--forma">Send</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>