<section class="about-pg-mission">
  <div class="container">
    <div class="about-pg-mission__body">
      <div class="about-mission__title title--section">
        Our core values
      </div>
      <div class="about-mission__subtitle subtitle--section">
        Our mission is to set the highest standards for construction sphere.
      </div>
      <div class="about-mission__list">
        <div class="about-mission__item">
          <div class="about-mission__item--container">
            <div class="about-mission__item--icon">
              <svg>
                <use xlink:href='./img/sprite.svg#quality'></use>
              </svg>
            </div>
            <div class="about-mission__item--title title--item">Quality</div>
            <div class="about-mission__item--text">Culpa nostrud commodo ea consequat aliquip reprehenderit. Veniam velit nostrud aliquip sunt.
            </div>
          </div>
        </div>
        <div class="about-mission__item">
          <div class="about-mission__item--container">
            <div class="about-mission__item--icon">
              <svg>
                <use xlink:href='./img/sprite.svg#safety'></use>
              </svg>
            </div>
            <div class="about-mission__item--title title--item">Safety</div>
            <div class="about-mission__item--text">Anim reprehenderit sint voluptate exercitation adipisicing laborum adipisicing. Minim empor est ea.
            </div>
          </div>
        </div>
        <div class="about-mission__item">
          <div class="about-mission__item--container">
            <div class="about-mission__item--icon">
              <svg>
                <use xlink:href='./img/sprite.svg#comfort'></use>
              </svg>
            </div>
            <div class="about-mission__item--title title--item">Comfort</div>
            <div class="about-mission__item--text">Sit veniam aute dolore adipisicing nulla sit culpa. Minim mollit voluptate ullamco proident ea ad.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>