<section class="clients-company">
  <div class="container">
    <div class="clients-company__body">
      <div class="clients-company__left">
        <div class="clients-company__title title--section title--left">
          What our clients are saying
        </div>
        <div class="clients-company__list">
            <div class="clients-company__item">
              <div class="clients-company__item--avatar">
                <img src="./img/avatar.png" alt="">
              </div>
              <div class="clients-company__item--text">Ipsum aute sunt aliquip aute et occaecat. Anim minim do cillum eiusmod enim. Consectetur magna cillum consequat minim  laboris cillum laboris voluptate minim proident exercitation ullamco. </div>
              <div class="clients-company__item--bottom">
                <div class="clients-company__item--information">
                  <div class="clients-company__item--information--name">Shawn Edwards</div>
                  <div class="clients-company__item--information--position">Position, Company name</div>
                </div>
              </div>
            </div>
        </div>
      </div>
      <div class="clients-company__photo">
        <img src="./img/clients-photo.jpg" alt="">
      </div>
    </div>
  </div>
</section>