<section class="contact-us">
  <div class="container">
    <div class="contact-us__body">
      <div class="contact-us__title title--section">Contact us</div>
      <div class="contact-us__subtitle subtitle--section">
        Please complete the form. Detailed information will help us to make a tuned offer.
      </div>
      <div class="contact-us__field">
        <div class="contact-us__img">
          <img src="./img/contact-us.jpg" alt="">
        </div>
        <form action="#" method="get" class="contact-us__forma--body">
          <div class="contact-us__forma--top">
            <div class="contact-us__forma--column">
              <div class="contact-us__forma--input">
                <div class="contact-us__forma--caption">Name*</div>
                <input type="text" name="client-name" placeholder="Your name">
              </div>
              <div class="contact-us__forma--input">
                <div class="contact-us__forma--caption">Phone*</div>
                <input type="tel" name="client-telephone" placeholder="Your phone number">
              </div>
              <div class="contact-us__forma--input">
                <div class="contact-us__forma--caption">Email</div>
                <input type="text" name="client-email" placeholder="Your working email">
              </div>
            </div>
            <div class="contact-us__forma--column">
              <div class="contact-us__forma--select">
                <div class="contact-us__forma--caption">I am interested in</div>
                <select name="direction">
                  <option selected value="0" class="placeholder">Choose your direction</option>
                  <option value="Interior">Interior Design</option>
                  <option value="Interior1">Interior Design1</option>
                  <option value="Interior2">Interior Design2</option>
                </select>
              </div>
              <div class="contact-us__forma--select">
                <div class="contact-us__forma--caption">Location*</div>
                <select name="location">
                  <option selected value="0" class="placeholder">Choose your location</option>
                  <option value="New York">New York</option>
                  <option value="Kyiv">Kyiv</option>
                </select>
              </div>
              <div class="contact-us__forma--radio">
                <div class="contact-us__forma--caption">Preferred contact method</div>
                <div class="contact-us__forma--radio-row">
                  <p class="contact-us__forma--radio--element"><input type="radio" name="contact" value="Phone" class="radio-contact">Phone</p>
                  <p class="contact-us__forma--radio--element"><input type="radio" name="contact" value="Email" class="radio-contact">Email</p>
                  <p class="contact-us__forma--radio--element"><input type="radio" name="contact" value="Viber" class="radio-contact">Viber</p>
                </div>
              </div>
            </div>
            </div>
          <div class="contact-us__forma--textarea">
            <div class="contact-us__forma--caption">Message*</div>
            <textarea name="client-message" resize="none" cols="30" rows="10" placeholder="Your message"></textarea>
          </div>
          <div class="contact-us__forma--bottom">
            <div class="contact-us__forma--checkbox checkbox ">
              <input type="checkbox" class="agreement" name="agreement" value="yes">
              <span>I agree to receive communications from Createx Construction Bureau.</span>
            </div>
            <div class="contact-us__forma--button">
              <button type="submit" class="contact-us__button">send request</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>