<section class="contacts-office">
  <div class="container">
    <div class="contacts-office__body">
      <div class="contacts-office__title title--section">Our offices</div>
      <div class="contacts-office__subtitle subtitle--section">
        Give us a call, send us a note or visit our office. We can’t wait to hear from you!
      </div>
      <div class="contacts-office__list">
        <div class="contacts-office__item">
          <div class="contacts-office__item--container">
            <div class="contacts-office__item--title title--mini title--left">New York, USA</div>
            <div class="contacts-office__item--addres">8502 Preston Rd. Inglewood, New York 98380</div>
            <a href="http://maps.google.com/?q=1200 8502 Preston Rd, Ист-Медоу, New York" class="google-maps">See on the map</a>
            <ul class="contacts-office__information">
                <li>
                  <span class="contacts-office__information--title">Call:</span>
                  <a href="tel:4055550128" class="contacts-office__information--text">(405) 555-0128</a>
                </li>
                <li>
                  <span class="contacts-office__information--title">Email:</span>
                  <a href="mailto:hello@createx.com" class="contacts-office__information--text">hello@createx.com</a>
                </li>
                <li>
                  <span class="contacts-office__information--title">Schedule:</span>
                  <p class="contacts-office__information--text">Mon - Fri 9:00 - 18:00</p>
                </li>
            </ul>
          </div>
        </div>
        <div class="contacts-office__item">
          <div class="contacts-office__item--container">
            <div class="contacts-office__item--title title--mini title--left">New Jersey, USA</div>
            <div class="contacts-office__item--addres">2464 Royal Ln. Mesa, New Jersey 45463</div>
            <a href="http://maps.google.com/?q=1200 2464 Royal Ln. Mesa, New Jersey" class="google-maps">See on the map</a>
            <ul class="contacts-office__information">
                <li>
                  <span class="contacts-office__information--title">Call:</span>
                  <a href="tel:4055550128" class="contacts-office__information--text">(808) 555-0111</a>
                </li>
                <li>
                  <span class="contacts-office__information--title">Email:</span>
                  <a href="mailto:hello@createx.com" class="contacts-office__information--text">hello@createx.com</a>
                </li>
                <li>
                  <span class="contacts-office__information--title">Schedule:</span>
                  <p class="contacts-office__information--text">Mon - Fri 9:00 - 18:00</p>
                </li>
            </ul>
          </div>
        </div>
        <div class="contacts-office__item">
          <div class="contacts-office__item--container">
            <div class="contacts-office__item--title title--mini title--left">San Francisco, USA</div>
            <div class="contacts-office__item--addres">8502 Preston Rd. Inglewood, San Francisco 98380</div>
            <a href="http://maps.google.com/?q=1200 8502 Preston Rd. Inglewood, San Francisco" class="google-maps">See on the map</a>
            <ul class="contacts-office__information">
                <li>
                  <span class="contacts-office__information--title">Call:</span>
                  <a href="tel:4055550128" class="contacts-office__information--text">(505) 555-0125</a>
                </li>
                <li>
                  <span class="contacts-office__information--title">Email:</span>
                  <a href="mailto:hello@createx.com" class="contacts-office__information--text">hello@createx.com</a>
                </li>
                <li>
                  <span class="contacts-office__information--title">Schedule:</span>
                  <p class="contacts-office__information--text">Mon - Fri 10:00 - 19:00</p>
                </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>