<section class="details">
  <div class="container">
    <div class="details__body">
      <div class="details__forma">
        <div class="details__forma--title title--mini">A quick way to discuss details</div>
        <form action="#" method="get" class="details__forma--body">
          <div class="details__forma--input">
            <div class="input__text">Name*</div>
            <input type="text" name="client-name" placeholder="Your name">
          </div>
          <div class="details__forma--input">
            <div class="input__text">Phone*</div>
            <input type="tel" name="client-telephone" placeholder="Your phone number">
          </div>
          <div class="details__forma--input">
            <div class="input__text">Email</div>
            <input type="text" name="client-message" placeholder="Your working email">
          </div>
          <div class="details__forma--textarea">
            <div class="input__text">Message*</div>
            <textarea name="client-message" resize="none" cols="30" rows="10" placeholder="Your message"></textarea>
          </div>
          <div class="details__forma--checkbox">
            <input type="checkbox" class="agreement" name="agreement" value="yes">
            <span>I agree to receive communications from Createx Construction Bureau.</span>
          </div>
          <div class="details__forma--button">
            <button type="submit" class="button button--forma">send request</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>