<section class="facts-news">
  <div class="container">
    <div class="facts-news__facts-body">
      <div class="facts__title title--section">
        Some facts and figures
      </div>
      <div class="facts__list">
        <div class="facts__item">
          <div class="facts__item--statistic">
            <img src="./img/circle1.png" alt="">
            <div class="facts__item--number">
              98%
            </div>
          </div>
          <div class="facts__item--sign">Totally satisfied clients</div>
        </div>
        <div class="facts__item">
          <div class="facts__item--statistic">
            <img src="./img/circle2.png" alt="">
            <div class="facts__item--number facts__item--number--20">
              20
            </div>
          </div>
          <div class="facts__item--sign">Years of experience</div>
        </div>
        <div class="facts__item">
          <div class="facts__item--statistic">
            <img src="./img/circle3.png" alt="">
            <div class="facts__item--number facts__item--number--9452">
              9452
            </div>
          </div>
          <div class="facts__item--sign">Working hours spent</div>
        </div>
        <div class="facts__item">
          <div class="facts__item--statistic">
            <img src="./img/circle4.png" alt="">
            <div class="facts__item--number facts__item--number--100">
              100%
            </div>
          </div>
          <div class="facts__item--sign">Succeeded projects</div>
        </div>
      </div>
    </div>
    <div class="facts-news__news-body">
      <div class="news__title title--section">
        Recent news
      </div>
      <div class="news__list">
        <a href="#" class="news__item big">
          <div class="news__item--img news__item--big-img">
            <img src="./img/news1.jpg" alt="">
          </div>
          <div class="news__item--textblock">
            <div class="news__item--title title--item title--left">
              How to Build Climate Change-Resilient Infrastructure
            </div>
            <div class="news__item--information">
              <div class="item__information--thema">Industry News</div>
              <span class="vertical-line"></span>
              <div class="item__information--data">June 24, 2020</div>
              <span class="vertical-line"></span>
              <div class="item__information--comments">
                <img src="./img/comments.svg" alt="">
                4 comments
              </div>
            </div>
            <div class="news__item--text">
              Ipsum aliquet nisi, hendrerit rhoncus quam tortor, maecenas faucibus. Tincidunt aliquet sit vel, venenatis nulla. Integer bibendum turpis convallis enim, nibh convallis...
            </div>
          </div>
        </a>
        <a href="#" class="news__item">
          <div class="news__item--img">
            <img src="./img/news2.jpg" alt="">
          </div>
          <div class="news__item--textblock">
            <div class="news__item--title title--item title--left">
              How Construction Can Help Itself
            </div>
            <div class="news__item--information">
              <div class="item__information--thema">Innovation</div>
              <span class="vertical-line"></span>
              <div class="item__information--data">June 12, 2020</div>
              <span class="vertical-line"></span>
              <div class="item__information--comments">
                <img src="./img/comments.svg" alt="">
                No comments
              </div>
            </div>
          </div>
        </a>
        <a href="#" class="news__item ">
          <div class="news__item--img">
            <img src="./img/news3.jpg" alt="">
          </div>
          <div class="news__item--textblock">
            <div class="news__item--title title--item title--left">
              Types of Flooring Materials
            </div>
            <div class="news__item--information">
              <div class="item__information--thema">Company News</div>
              <span class="vertical-line"></span>
              <div class="item__information--data">December 1, 2019</div>
              <span class="vertical-line"></span>
              <div class="item__information--comments">
                <img src="./img/comments.svg" alt="">
                No comments
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="facts-news__more see-more">
      <div class="see-more__title title--mini">Explore all our news posts</div>
      <a href="#" class="see-more__button button">View all news</a>
    </div>
  </div>
</section>