<section class="find-us">
  <div class="container">
    <div class="find-us__body">
      <div class="find-us__title title--section">Find us at</div>
      <div class="find-us__social">
        <a href="#" class="whatsapp">
          <svg class="find-us__social--icon">
            <use xlink:href='./img/sprite.svg#whatsapp'></use>
          </svg>
        </a>
        <a href="#" class="messanger">
          <svg class="find-us__social--icon">
            <use xlink:href='./img/sprite.svg#messanger'></use>
          </svg>
        </a>
        <a href="#" class="facebook">
          <svg class="find-us__social--icon">
            <use xlink:href='./img/sprite.svg#fb'></use>
          </svg>
        </a>
        <a href="#" class="twitter">
          <svg class="find-us__social--icon">
            <use xlink:href='./img/sprite.svg#tw'></use>
          </svg>
        </a>
        <a href="#" class="youtube">
          <svg class="find-us__social--icon">
            <use xlink:href='./img/sprite.svg#youtube'></use>
          </svg>
        </a>
      </div>
    </div>
  </div>
</section>