<header class="header header-main">
  <div class="container">
    <div class="header__body">
      <a href="index.html" class="header__logo">
        <img src="./img/logo.svg" alt="">
      </a>
      <div class="header__burger">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <nav class="header__menu">
        <ul class="menu__list">
          <li class="menu__item"><a href="about.html" class="menu__link">About Us</a></li>
          <li class="menu__item"><a href="service.html" class="menu__link">Services</a></li>
          <li class="menu__item"><a href="work.html" class="menu__link">Work</a></li>
          <li class="menu__item"><a href="news.html" class="menu__link">News</a></li>
          <li class="menu__item"><a href="contacts.html" class="menu__link">Contacts</a></li>
        </ul>
      </nav>
      <div class="header__contacts">
        <a href="tel:4055550128" class="contacts__telephone">
          <img src="./img/telephone.svg" alt="">
          <div class="contacts__information">
            <div class="contacts__title">Call us</div>
            <div class="contacts__value">(405) 555-0128</div>
          </div>
        </a>
        <a href="mailto:hello@createx.com" class="contacts__email">
          <img src="./img/email.svg" alt="">
          <div class="contacts__information">
            <div class="contacts__title">Talk to us</div>
            <div class="contacts__value">hello@createx.com</div>
          </div>
        </a>
      </div>
    </div>
  </div>
</header>
