<section class="hero">
  <div class="hero__item">
    <div class="container">
      <div class="hero__body">
        <div class="hero__title">
          CREATE<span>X</span> CONSTRUCTION
        </div>
        <div class="hero__text">
          Cras ultrices leo vitae non viverra. Fringilla nisi quisque consequat, dignissim vitae proin ipsum sed. Pellentesque nec turpis purus eget pellentesque integer ipsum elementum felis.
        </div>
        <div class="hero__buttons">
          <a href="#" class="hero__buttons--about button button--hero">Learn more about us</a>
          <a href="#" class="hero__buttons--request button">SUBMIT REQUEST</a>
        </div>
      </div>
    </div>
  </div>
</section>