<section class="hero-page">
  <div class="container">
    <div class="hero-page__body">
      <div class="hero-page__way">
        <a href="#" class="hero-page__way--home">Homepage</a>
        <a href="#" class="hero-page__way--page active">
          Services
        </a>
      </div>
      <div class="hero-page__title">
        SERVICES
      </div>
      <div class="hero-page__text">
        If you are looking for a full-service construction company, look to Createx Construction Bureau. We are doing our best to be a partner for all of your construction needs.
      </div>
    </div>
  </div>
</section>