<section class="hero-page hero-news-post">
  <div class="container">
    <div class="hero-page__body hero-news-post__body">
      <ul class="hero-page__way">
        <li class="hero-page__way--page">
          <a href="#" class="hero-page__way--link">Homepage</a>
        </li>
        <li class="hero-page__way--page">
          <a href="#" class="hero-page__way--link">News</a>
        </li>
        <li class="hero-page__way--page-end">
          <a href="#" class="hero-page__way--link active">How to Build Climate Change-Resilient Infrastructure</a>
        </li>
      </ul>
      <div class="hero-news-post__title">
        How to Build Climate Change-Resilient Infrastructure
      </div>
      <div class="hero-news-post__row">
        <div class="hero-news-post__column">
          <div class="hero-news-post__information">
            <div class="hero-news-post__information--thema">Industry News</div>
            <span class="vertical-line"></span>
            <div class="hero-news-post__information--data">June 24, 2020</div>
            <span class="vertical-line"></span>
            <div class="hero-news-post__information--comments">
              4 comments
            </div>
          </div>
        </div>
        <div class="hero-news-post__column">
          <div class="hero-news-post__social">
            <a href="#" class="whatsapp">
              <svg class="hero-news-post__social--icon">
                <use xlink:href='./img/sprite.svg#fb'></use>
              </svg>
            </a>
            <a href="#" class="whatsapp">
              <svg class="hero-news-post__social--icon">
                <use xlink:href='./img/sprite.svg#messanger'></use>
              </svg>
            </a>
            <a href="#" class="whatsapp">
              <svg class="hero-news-post__social--icon">
                <use xlink:href='./img/sprite.svg#tw'></use>
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>