<section class="hero-page hero-contacts">
  <div class="container">
    <div class="hero-page__body contacts__body">
      <ul class="hero-page__way">
        <li class="hero-page__way--page">
          <a href="index.html" class="hero-page__way--link">Homepage</a>
        </li>
        <li class="hero-page__way--page-end">
          <a href="#" class="hero-page__way--link active">Contacts</a>
        </li>
      </ul>
      <div class="hero-page__title">
        CONTACTS
      </div>
      <div class="hero-page__text">
        Contact us for all your construction needs. We always welcome any questions and comments.
      </div>
    </div>
  </div>
</section>