<section class="hero-page">
  <div class="container">
    <div class="hero-page__body">
      <ul class="hero-page__way">
        <li class="hero-page__way--page">
          <a href="#" class="hero-page__way--link">Homepage</a>
        </li>
        <li class="hero-page__way--page-end">
          <a href="#" class="hero-page__way--link active">Services</a>
        </li>
      </ul>
      <div class="hero-page__title">
        SERVICES
      </div>
      <div class="hero-page__text">
        If you are looking for a full-service construction company, look to Createx Construction Bureau. We are doing our best to be a partner for all of your construction needs.
      </div>
    </div>
  </div>
</section>