<section class="hero-page hero-about">
  <div class="container">
    <div class="hero-page__body hero-about__body">
      <ul class="hero-page__way">
        <li class="hero-page__way--page">
          <a href="index.html" class="hero-page__way--link">Homepage</a>
        </li>
        <li class="hero-page__way--page-end">
          <a href="#" class="hero-page__way--link active">About Us</a>
        </li>
      </ul>
      <div class="hero-page__title">
        ABOUT US
      </div>
      <div class="hero-page__text">
        Createx Construction Bureau has been successfully operating in the USA construction market since 2000. We are proud to offer you quality construction and exemplary service.
      </div>
    </div>
  </div>
</section>