<section class="hero-page hero-work1">
  <div class="container">
    <div class="hero-page__body hero-work1__body">
      <ul class="hero-page__way">
        <li class="hero-page__way--page">
          <a href="#" class="hero-page__way--link">Homepage</a>
        </li>
        <li class="hero-page__way--page">
          <a href="#" class="hero-page__way--link">Work</a>
        </li>
        <li class="hero-page__way--page-end">
          <a href="#" class="hero-page__way--link active">Modern Cottage</a>
        </li>
      </ul>
      <div class="hero-page__title">
        Modern Cottage
      </div>
    </div>
  </div>
</section>