<section class="hero-page hero-positions">
  <div class="container">
    <div class="hero-page__body hero-positions__body">
      <ul class="hero-page__way">
        <li class="hero-page__way--page">
          <a href="#" class="hero-page__way--link">Homepage</a>
        </li>
        <li class="hero-page__way--page">
          <a href="#" class="hero-page__way--link">About Us</a>
        </li>
        <li class="hero-page__way--page-end">
          <a href="#" class="hero-page__way--link active">Available Positions</a>
        </li>
      </ul>
      <div class="hero-page__title">
        AVAILABLE POSITIONS
      </div>
      <div class="hero-page__text">
        Build your career with Createx Construction Bureau.
      </div>
    </div>
  </div>
</section>