<section class="hero-page hero-work">
  <div class="container">
    <div class="hero-page__body hero-work__body">
      <ul class="hero-page__way">
        <li class="hero-page__way--page">
          <a href="#" class="hero-page__way--link">Homepage</a>
        </li>
        <li class="hero-page__way--page-end">
          <a href="#" class="hero-page__way--link active">Work</a>
        </li>
      </ul>
      <div class="hero-page__title">
        OUR WORK
      </div>
      <div class="hero-page__text">
        Our portfolio represents 20 years of construction experience backed by a passion for perfect client service, quality and innovations in consctuction industry.
      </div>
    </div>
  </div>
</section>