<section class="hero-page hero-news">
  <div class="container">
    <div class="hero-page__body">
      <ul class="hero-page__way">
        <li class="hero-page__way--page">
          <a href="index.html" class="hero-page__way--link">Homepage</a>
        </li>
        <li class="hero-page__way--page-end">
          <a href="#" class="hero-page__way--link active">News</a>
        </li>
      </ul>
      <div class="hero-page__title">
        NEWS
      </div>
      <div class="hero-page__text">
        Stay tuned with our news, expert tips and articles.
      </div>
    </div>
  </div>
</section>