<section class="hero-page hero-services-1">
  <div class="container">
    <div class="hero-page__body hero-services-1__body">
      <ul class="hero-page__way">
        <li class="hero-page__way--page">
          <a href="#" class="hero-page__way--link">Homepage</a>
        </li>
        <li class="hero-page__way--page">
          <a href="#" class="hero-page__way--link">Services</a>
        </li>
        <li class="hero-page__way--page-end">
          <a href="#" class="hero-page__way--link active">Interior Design</a>
        </li>
      </ul>
      <div class="hero-page__title">
        INTERIOR DESIGN
      </div>
      <div class="hero-page__text">
        Dui augue nec mi mi. Ut ac lectus donec fames pellentesque. Laoreet aenean vulputate elementum blandit amet.
      </div>
    </div>
  </div>
</section>