<section class="how-we-do">
  <div class="container">
    <div class="how-we-do__body">
      <div class="how-we-do__title title--section title--left">
        That’s how we do it
      </div>
      <div class="how-we-do__list">
        <div class="how-we-do__item">
          <div class="how-we-do__item--order">01</div>
          <div class="how-we-do__item--caption">Work Estimate</div>
          <div class="how-we-do__item--description">Culpa nostrud commodo ea consequat aliquip reprehenderit.</div>
        </div>
        <div class="how-we-do__item">
          <div class="how-we-do__item--order">02</div>
          <div class="how-we-do__item--caption">Contract</div>
          <div class="how-we-do__item--description">Laoreet ultrices curabitur luctus quisque consequat. Leo lorem velit imperdiet auctor et tempor.</div>
        </div>
        <div class="how-we-do__item">
          <div class="how-we-do__item--order">03</div>
          <div class="how-we-do__item--caption">Mobilization </div>
          <div class="how-we-do__item--description">Odio massa scelerisque purus arcu sed velit eleifend cursus leo.</div>
        </div>
        <div class="how-we-do__item">
          <div class="how-we-do__item--order how-we-do__item--order-end">04</div>
          <div class="how-we-do__item--caption">Construction Work</div>
          <div class="how-we-do__item--description">Adipisicing esse aliqua aliquip qui amet. Aute eiusmod dolore dolore et ad et veniam ad deserunt.</div>
        </div>
      </div>
    </div>
  </div>
</section>