<div class="modal-subs">
  <div class="modal-popup__body">
    <div class="modal-popup__content">
      <a href="#page" class="exit-modal"></a>
      <div class="modal-popup__forma">
        <div class="modal-popup__forma--title title--mini">Subscribe to our newsletter</div>
        <form action="#" method="get" class="modal-popup__forma--body">
          <div class="modal-popup__forma--input">
            <div class="input__text">Name*</div>
            <input type="text" name="client-name" placeholder="Your name">
          </div>
          <div class="modal-popup__forma--input">
            <div class="input__text">Email*</div>
            <input type="text" name="client-email" placeholder="Your working email">
          </div>
          <div class="modal-popup__forma--button">
            <button type="submit" class=" button button--modal">send</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>