<div class="modal-cv">
  <div class="modal-popup__body">
    <div class="modal-popup__content">
      <a href="#page" class="exit-modal"></a>
      <div class="modal-popup__forma">
        <div class="modal-popup__forma--title title--mini">Send your CV</div>
        <form action="#" method="get" class="modal-popup__forma--body">
          <div class="modal-popup__forma--input">
            <div class="input__text">Name*</div>
            <input type="text" name="client-name" placeholder="Your name">
          </div>
          <div class="modal-popup__forma--select">
            <div class="input__text">Location*</div>
            <select name="location" class="select">
              <option selected value="0" class="placeholder">Choose your location</option>
              <option value="New York">New York</option>
              <option value="Kyiv">Kyiv</option>
            </select>
          </div>
          <div class="modal-popup__forma--input">
            <div class="input__text">Phone*</div>
            <input type="tel" name="client-telephone" placeholder="Your phone number">
          </div>
          <div class="modal-popup__forma--input">
            <div class="input__text">Email*</div>
            <input type="text" name="client-email" placeholder="Your working email">
          </div>
          <div class="modal-popup__forma--textarea">
            <div class="input__text">Message*</div>
            <textarea name="client-message" resize="none" cols="30" rows="10" placeholder="Your message"></textarea>
          </div>
          <div class="modal-popup__forma--file">
            <input type="file" class="input-file" name="cv">
            <span class="file">Attach your CV*</span>
          </div>
          <div class="modal-popup__forma--button">
            <button type="submit" class=" button button--modal">send</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>