<section class="news-page">
  <div class="container">
    <div class="news-page__body">
      <div class="news-page__title title--section">
        Categories
      </div>
      <div class="news-page__navbar">
        <div class="news-page__tab active" data-path="all">
          All News
        </div>
        <div class="news-page__tab" data-path="company">
          Company News
        </div>
        <div class="news-page__tab" data-path="innovation">
          Innovation
        </div>
        <div class="news-page__tab" data-path="industry">
          Industry News
        </div>
        <div class="news-page__tab" data-path="expert">
          Expert Tips
        </div>
        <div class="news-page__tab" data-path="marketing">
          Marketing
        </div>
      </div>
      <div class="news-page__list">
        <a href="#" class="news__item">
          <div class="news-page__item--img">
            <img src="./img/news1.jpg" alt="">
          </div>
          <div class="news__item--textblock">
            <div class="news__item--title title--item title--left">
              How to Build Climate Change-Resilient Infrastructure
            </div>
            <div class="news__item--information">
              <div class="item__information--thema">Industry News</div>
              <span class="vertical-line"></span>
              <div class="item__information--data">June 24, 2020</div>
              <span class="vertical-line"></span>
              <div class="item__information--comments">
                <img src="./img/comments.svg" alt="">
                4 comments
              </div>
            </div>
            <div class="news__item--text">
              Ipsum aliquet nisi, hendrerit rhoncus quam tortor, maecenas faucibus. Tincidunt aliquet sit vel, venenatis nulla. Integer bibendum turpis convallis enim, nibh convallis...
            </div>
          </div>
        </a>
        <a href="#" class="news__item">
          <div class="news-page__item--img">
            <img src="./img/news1.jpg" alt="">
          </div>
          <div class="news__item--textblock">
            <div class="news__item--title title--item title--left">
              How to Build Climate Change-Resilient Infrastructure
            </div>
            <div class="news__item--information">
              <div class="item__information--thema">Industry News</div>
              <span class="vertical-line"></span>
              <div class="item__information--data">June 24, 2020</div>
              <span class="vertical-line"></span>
              <div class="item__information--comments">
                <img src="./img/comments.svg" alt="">
                4 comments
              </div>
            </div>
            <div class="news__item--text">
              Ipsum aliquet nisi, hendrerit rhoncus quam tortor, maecenas faucibus. Tincidunt aliquet sit vel, venenatis nulla. Integer bibendum turpis convallis enim, nibh convallis...
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>