<section class="partners">
  <div class="container">
    <div class="partners__body">
      <div class="partners__title title--section">
        Supported by 12+ partners
      </div>
      <div class="partners__list">
        <div class="partners__item">
          <a href="#" class="partners__item--icon">
            <img src="./img/partners/partner1.png" alt="">
          </a>
        </div>
        <div class="partners__item">
          <a href="#" class="partners__item--icon">
            <img src="./img/partners/partner2.png" alt="">
          </a>
        </div>
        <div class="partners__item">
          <a href="#" class="partners__item--icon">
            <img src="./img/partners/partner3.png" alt="">
          </a>
        </div>
        <div class="partners__item">
          <a href="#" class="partners__item--icon">
            <img src="./img/partners/partner4.png" alt="">
          </a>
        </div>
        <div class="partners__item">
          <a href="#" class="partners__item--icon">
            <img src="./img/partners/partner5.png" alt="">
          </a>
        </div>
        <div class="partners__item">
          <a href="#" class="partners__item--icon">
            <img src="./img/partners/partner6.png" alt="">
          </a>
        </div>
      </div>
    </div>
  </div>
</section>