<section class="portfolio">
  <div class="container">
    <div class="portfolio__body">
      <div class="portfolio__top">
        <div class="portfolio__navbar">
          <div class="portfolio__item active" data-path="all">
            <div class="portfolio__item--icon">
              <svg class="portfolio__item--svg">
                <use xlink:href='./img/sprite.svg#all-projects'></use>
              </svg>
            </div>
            <div class="portfolio__item--title">All Projects</div>
        </div>
          <div class="portfolio__item" data-path="construction">
              <div class="portfolio__item--icon">
                <svg class="portfolio__item--svg">
                  <use xlink:href='./img/sprite.svg#construction'></use>
                </svg>
              </div>
              <div class="portfolio__item--title">Construction</div>
          </div>
          <div class="portfolio__item" data-path="development">
              <div class="portfolio__item--icon">
                <svg class="portfolio__item--svg">
                  <use xlink:href='./img/sprite.svg#project-development'></use>
                </svg>
              </div>
              <div class="portfolio__item--title">Project Development</div>
          </div>
          <div class="portfolio__item" data-path="interior">
              <div class="portfolio__item--icon">
                <svg class="portfolio__item--svg">
                  <use xlink:href='./img/sprite.svg#interior-design'></use>
                </svg>
              </div>
              <div class="portfolio__item--title">Interior Design</div>
          </div>
          <div class="portfolio__item" data-path="repairs">
              <div class="portfolio__item--icon">
                <svg class="portfolio__item--svg">
                  <use xlink:href='./img/sprite.svg#repairs'></use>
                </svg>
              </div>
              <div class="portfolio__item--title">Repairs</div>
          </div>
        </div>
      </div>
      <div class="portfolio__works">
        <div class="portfolio__cell visible" data-target="repairs">
          <div class="portfolio__cell--img">
            <img src="./img/work1.jpg" alt="">
          </div>
          <div class="portfolio__cell--text">
            <div class="portfolio__cell--title title--item">
              Red Finger Building
            </div>
            <div class="portfolio__cell--subtitle subtitle--item">
              Business Centers
            </div>
            <div class="portfolio__cell--button">
              <a href="#" class="button button--item">View Project</a>
            </div>
          </div>
        </div>
        <div class="portfolio__cell visible" data-target="interior">
          <div class="portfolio__cell--img">
            <img src="./img/work1.jpg" alt="">
          </div>
          <div class="portfolio__cell--text">
            <div class="portfolio__cell--title title--item">
              Red Finger Building
            </div>
            <div class="portfolio__cell--subtitle subtitle--item">
              Business Centers
            </div>
            <div class="portfolio__cell--button">
              <a href="#" class="button button--item">View Project</a>
            </div>
          </div>
        </div>
        <div class="portfolio__cell visible" data-target="repairs">
          <div class="portfolio__cell--img">
            <img src="./img/work1.jpg" alt="">
          </div>
          <div class="portfolio__cell--text">
            <div class="portfolio__cell--title title--item">
              Red Finger Building
            </div>
            <div class="portfolio__cell--subtitle subtitle--item">
              Business Centers
            </div>
            <div class="portfolio__cell--button">
              <a href="#" class="button button--item">View Project</a>
            </div>
          </div>
        </div>
        <div class="portfolio__cell visible" data-target="development">
          <div class="portfolio__cell--img">
            <img src="./img/work1.jpg" alt="">
          </div>
          <div class="portfolio__cell--text">
            <div class="portfolio__cell--title title--item">
              Red Finger Building
            </div>
            <div class="portfolio__cell--subtitle subtitle--item">
              Business Centers
            </div>
            <div class="portfolio__cell--button">
              <a href="#" class="button button--item">View Project</a>
            </div>
          </div>
        </div>
        <div class="portfolio__cell visible" data-target="interior">
          <div class="portfolio__cell--img">
            <img src="./img/work1.jpg" alt="">
          </div>
          <div class="portfolio__cell--text">
            <div class="portfolio__cell--title title--item">
              Red Finger Building
            </div>
            <div class="portfolio__cell--subtitle subtitle--item">
              Business Centers
            </div>
            <div class="portfolio__cell--button">
              <a href="#" class="button button--item">View Project</a>
            </div>
          </div>
        </div>
        <div class="portfolio__cell visible" data-target="repairs">
          <div class="portfolio__cell--img">
            <img src="./img/work1.jpg" alt="">
          </div>
          <div class="portfolio__cell--text">
            <div class="portfolio__cell--title title--item">
              Red Finger Building
            </div>
            <div class="portfolio__cell--subtitle subtitle--item">
              Business Centers
            </div>
            <div class="portfolio__cell--button">
              <a href="#" class="button button--item">View Project</a>
            </div>
          </div>
        </div>
        <div class="portfolio__cell visible" data-target="development">
          <div class="portfolio__cell--img">
            <img src="./img/work1.jpg" alt="">
          </div>
          <div class="portfolio__cell--text">
            <div class="portfolio__cell--title title--item">
              Red Finger Building
            </div>
            <div class="portfolio__cell--subtitle subtitle--item">
              Business Centers
            </div>
            <div class="portfolio__cell--button">
              <a href="#" class="button button--item">View Project</a>
            </div>
          </div>
        </div>
        <div class="portfolio__cell visible" data-target="construction">
          <div class="portfolio__cell--img">
            <img src="./img/work1.jpg" alt="">
          </div>
          <div class="portfolio__cell--text">
            <div class="portfolio__cell--title title--item">
              Red Finger Building
            </div>
            <div class="portfolio__cell--subtitle subtitle--item">
              Business Centers
            </div>
            <div class="portfolio__cell--button">
              <a href="#" class="button button--item">View Project</a>
            </div>
          </div>
        </div>
        <div class="portfolio__cell visible" data-target="construction">
          <div class="portfolio__cell--img">
            <img src="./img/work1.jpg" alt="">
          </div>
          <div class="portfolio__cell--text">
            <div class="portfolio__cell--title title--item">
              Red Finger Building
            </div>
            <div class="portfolio__cell--subtitle subtitle--item">
              Business Centers
            </div>
            <div class="portfolio__cell--button">
              <a href="#" class="button button--item">View Project</a>
            </div>
          </div>
        </div>
        <div class="portfolio__cell" data-target="construction">
          <div class="portfolio__cell--img">
            <img src="./img/work1.jpg" alt="">
          </div>
          <div class="portfolio__cell--text">
            <div class="portfolio__cell--title title--item">
              Red Finger Building
            </div>
            <div class="portfolio__cell--subtitle subtitle--item">
              Business Centers
            </div>
            <div class="portfolio__cell--button">
              <a href="#" class="button button--item">View Project</a>
            </div>
          </div>
        </div>
        <div class="portfolio__cell" data-target="construction">
          <div class="portfolio__cell--img">
            <img src="./img/work1.jpg" alt="">
          </div>
          <div class="portfolio__cell--text">
            <div class="portfolio__cell--title title--item">
              Red Finger Building
            </div>
            <div class="portfolio__cell--subtitle subtitle--item">
              Business Centers
            </div>
            <div class="portfolio__cell--button">
              <a href="#" class="button button--item">View Project</a>
            </div>
          </div>
        </div>
        <div class="portfolio__cell" data-target="construction">
          <div class="portfolio__cell--img">
            <img src="./img/work1.jpg" alt="">
          </div>
          <div class="portfolio__cell--text">
            <div class="portfolio__cell--title title--item">
              Red Finger Building
            </div>
            <div class="portfolio__cell--subtitle subtitle--item">
              Business Centers
            </div>
            <div class="portfolio__cell--button">
              <a href="#" class="button button--item">View Project</a>
            </div>
          </div>
        </div>
        <div class="portfolio__cell" data-target="construction">
          <div class="portfolio__cell--img">
            <img src="./img/work1.jpg" alt="">
          </div>
          <div class="portfolio__cell--text">
            <div class="portfolio__cell--title title--item">
              Red Finger Building
            </div>
            <div class="portfolio__cell--subtitle subtitle--item">
              Business Centers
            </div>
            <div class="portfolio__cell--button">
              <a href="#" class="button button--item">View Project</a>
            </div>
          </div>
        </div>
        <div class="portfolio__cell" data-target="construction">
          <div class="portfolio__cell--img">
            <img src="./img/work1.jpg" alt="">
          </div>
          <div class="portfolio__cell--text">
            <div class="portfolio__cell--title title--item">
              Red Finger Building
            </div>
            <div class="portfolio__cell--subtitle subtitle--item">
              Business Centers
            </div>
            <div class="portfolio__cell--button">
              <a href="#" class="button button--item">View Project</a>
            </div>
          </div>
        </div>
        <div class="portfolio__cell" data-target="construction">
          <div class="portfolio__cell--img">
            <img src="./img/work1.jpg" alt="">
          </div>
          <div class="portfolio__cell--text">
            <div class="portfolio__cell--title title--item">
              Red Finger Building
            </div>
            <div class="portfolio__cell--subtitle subtitle--item">
              Business Centers
            </div>
            <div class="portfolio__cell--button">
              <a href="#" class="button button--item">View Project</a>
            </div>
          </div>
        </div>
        <div class="portfolio__cell" data-target="construction">
          <div class="portfolio__cell--img">
            <img src="./img/work1.jpg" alt="">
          </div>
          <div class="portfolio__cell--text">
            <div class="portfolio__cell--title title--item">
              Red Finger Building
            </div>
            <div class="portfolio__cell--subtitle subtitle--item">
              Business Centers
            </div>
            <div class="portfolio__cell--button">
              <a href="#" class="button button--item">View Project</a>
            </div>
          </div>
        </div>
        <div class="portfolio__cell" data-target="construction">
          <div class="portfolio__cell--img">
            <img src="./img/work1.jpg" alt="">
          </div>
          <div class="portfolio__cell--text">
            <div class="portfolio__cell--title title--item">
              Red Finger Building
            </div>
            <div class="portfolio__cell--subtitle subtitle--item">
              Business Centers
            </div>
            <div class="portfolio__cell--button">
              <a href="#" class="button button--item">View Project</a>
            </div>
          </div>
        </div>
        <div class="portfolio__cell" data-target="repairs">
          <div class="portfolio__cell--img">
            <img src="./img/work1.jpg" alt="">
          </div>
          <div class="portfolio__cell--text">
            <div class="portfolio__cell--title title--item">
              Red Finger Building
            </div>
            <div class="portfolio__cell--subtitle subtitle--item">
              Business Centers
            </div>
            <div class="portfolio__cell--button">
              <a href="#" class="button button--item">View Project</a>
            </div>
          </div>
        </div>
        <div class="portfolio__cell" data-target="repairs">
          <div class="portfolio__cell--img">
            <img src="./img/work1.jpg" alt="">
          </div>
          <div class="portfolio__cell--text">
            <div class="portfolio__cell--title title--item">
              Red Finger Building
            </div>
            <div class="portfolio__cell--subtitle subtitle--item">
              Business Centers
            </div>
            <div class="portfolio__cell--button">
              <a href="#" class="button button--item">View Project</a>
            </div>
          </div>
        </div>
      </div>
      <div class="portfolio__more">
        <span>Load more</span>
      </div>
    </div>
  </div>
</section>