<section class="positions-benefits">
  <div class="container">
    <div class="positions-benefits__body">
      <div class="positions-benefits__title title--section">
        Employee benefits
      </div>
      <div class="positions-benefits__subtitle subtitle--section">
        There’s always room for talent.
      </div>
      <div class="positions-benefits__list">
        <div class="positions-benefits__item">
          <div class="positions-benefits__item--container">
            <div class="positions-benefits__item--icon">
              <svg>
                <use xlink:href='./img/sprite.svg#training'></use>
              </svg>
            </div>
            <div class="positions-benefits__item--title title--item">Training</div>
            <div class="positions-benefits__item--text">Culpa nostrud commodo ea consequat aliquip reprehenderit. Veniam velit nostrud aliquip sunt.
            </div>
          </div>
        </div>
        <div class="positions-benefits__item">
          <div class="positions-benefits__item--container">
            <div class="positions-benefits__item--icon">
              <svg>
                <use xlink:href='./img/sprite.svg#growth'></use>
              </svg>
            </div>
            <div class="positions-benefits__item--title title--item">Professional Growth</div>
            <div class="positions-benefits__item--text">Anim reprehenderit sint voluptate exercitation adipisicing laborum adipisicing. Minim empor est ea.
            </div>
          </div>
        </div>
        <div class="positions-benefits__item">
          <div class="positions-benefits__item--container">
            <div class="positions-benefits__item--icon">
              <svg>
                <use xlink:href='./img/sprite.svg#salary'></use>
              </svg>
            </div>
            <div class="positions-benefits__item--title title--item">Growing Salary</div>
            <div class="positions-benefits__item--text">Sit veniam aute dolore adipisicing nulla sit culpa. Minim mollit voluptate ullamco proident ea ad.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>