<section class="post-forma">
  <div class="container">
    <div class="container__article">
      <div class="post-forma__body">
        <div class="post-forma__title title--section">
          Leave your comment
        </div>
        <form action="#" method="get" class="post-forma__field">
          <div class="post-forma__top">
            <div class="post-forma__column">
              <div class="post-forma__input">
                <div class="post-forma__caption">Name*</div>
                <input type="text" name="client-name" placeholder="Your name">
              </div>
            </div>
            <div class="post-forma__column">
              <div class="post-forma__input">
                <div class="post-forma__caption">Email</div>
                <input type="text" name="client-email" placeholder="Your working email">
              </div>
            </div>
          </div>
          <div class="post-forma__textarea">
            <div class="post-forma__caption">Your comment*</div>
            <textarea name="client-message" resize="none" cols="30" rows="10" placeholder="Type comment here"></textarea>
          </div>
          <div class="post-forma__button">
            <button type="submit" class="post-forma__button--element">Post comment</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>