<section class="post-comments">
  <div class="container">
    <div class="container__article">
      <div class="post-comments__body">
        <div class="post-comments__title title--section">
          4 comments
        </div>
        <div class="post-comments__list">
          <div class="post-comments__item">
            <div class="post-comments__column post-comments__column--left">
              <div class="post-comments__nickname">Devon Lane</div>
              <div class="post-comments__date">July 15, 2020</div>
            </div>
            <div class="post-comments__column">
              <p class="post-comments__text">Phasellus varius faucibus ultrices odio in. Massa neque dictum natoque ornare rutrum malesuada et phasellus. Viverra natoque nulla cras vel nisl proin senectus. Tortor sed eleifend ante tristique felis sed urna aliquet. Suspendisse fames egestas sed duis purus diam et.</p>
              <p class="post-comments__answer">
                Reply
              </p>
            </div>
          </div>
          <div class="post-comments__item">
            <div class="post-comments__column post-comments__column--left">
              <div class="post-comments__nickname">Annette Black</div>
              <div class="post-comments__date">1 day ago</div>
            </div>
            <div class="post-comments__column">
              <p class="post-comments__text"><span class="post-comments__answer--nickname">@Devon Lane</span>Egestas fermentum natoque sollicitudin mauris. Facilisis praesent urna sed rhoncus quis pharetra pellentesque erat sagittis.</p>
              <p class="post-comments__answer">
                Reply
              </p>
            </div>
          </div>
          <div class="post-comments__item">
            <div class="post-comments__column post-comments__column--left">
              <div class="post-comments__nickname">Albert Flores</div>
              <div class="post-comments__date">July 7, 2020</div>
            </div>
            <div class="post-comments__column">
              <p class="post-comments__text">Libero commodo sit dui ac proin. Penatibus ultricies at adipiscing mauris nunc. Fames faucibus nisl duis id diam.</p>
              <p class="post-comments__answer">
                Reply
              </p>
            </div>
          </div>
          <div class="post-comments__item">
            <div class="post-comments__column post-comments__column--left">
              <div class="post-comments__nickname">Marvin McKinney</div>
              <div class="post-comments__date">June 28, 2020</div>
            </div>
            <div class="post-comments__column">
              <p class="post-comments__text">Ullamcorper nibh sed ac ipsum nunc imperdiet rhoncus. Quam donec habitant nibh sit consequat erat libero, tincidunt. Eros ut aliquam proin et duis. Mauris, egestas congue nibh dui a nulla.</p>
              <p class="post-comments__answer">
                Reply
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>