<section class="service-summary">
  <div class="container">
    <div class="service-summary__body">
      <div class="service-summary__item">
        <div class="service-summary__item--img">
          <img src="./img/service/service1.jpg" alt="">
        </div>
        <div class="service-summary__item--text-block">
          <div class="service-summary__item--title">Construction</div>
          <div class="service-summary__item--subtitle subtitle--item subtitle--left">Sapien, feugiat faucibus orci arcu, vulputate. Tristique varius consectetur vulputate arcu, scelerisque nisi, nibh. Enim semper id sodales ultricies sed ut ut augue. Mattis habitant venenatis, gravida posuere massa ac interdum. Eget aliquam dignissim ut vestibulum. </div>
          <div class="service-summary__item--button">
            <a href="service-1.html"class=" button button--item">Learn more</a>
          </div>
        </div>
      </div>
      <div class="service-summary__item">
        <div class="service-summary__item--img">
          <img src="./img/service/service2.jpg" alt="">
        </div>
        <div class="service-summary__item--text-block">
          <div class="service-summary__item--title">Project Development</div>
          <div class="service-summary__item--subtitle subtitle--item subtitle--left">Volutpat tellus mauris sit sit. Posuere ut sit vestibulum amet viverra in. Est nulla lectus purus tincidunt massa tortor. Hendrerit vulputate elementum blandit massa vitae amet felis eget.</div>
          <div class="service-summary__item--button">
            <a href="service-1.html"class=" button button--item">Learn more</a>
          </div>
        </div>
      </div>
      <div class="service-summary__item">
        <div class="service-summary__item--img">
          <img src="./img/service/service3.jpg" alt="">
        </div>
        <div class="service-summary__item--text-block">
          <div class="service-summary__item--title">Interior Design</div>
          <div class="service-summary__item--subtitle subtitle--item subtitle--left">Eleifend orci massa et facilisis orci feugiat ac. Congue in ut lacus, turpis accumsan gravida. Aliquet mattis dignissim massa sociis a, id bibendum. Egestas lorem eros, mi cras amet, vel eget molestie. Turpis enim arcu, amet donec massa pellentesque nulla duis. Arcu dictum metus sed purus senectus faucibus eget elementum pretium.</div>
          <div class="service-summary__item--button">
            <a href="service-1.html"class=" button button--item">Learn more</a>
          </div>
        </div>
      </div>
      <div class="service-summary__item">
        <div class="service-summary__item--img">
          <img src="./img/service/service4.jpg" alt="">
        </div>
        <div class="service-summary__item--text-block">
          <div class="service-summary__item--title">Repairs</div>
          <div class="service-summary__item--subtitle subtitle--item subtitle--left">Facilisis cursus feugiat sit pulvinar amet. Ac facilisi dictum commodo, tortor gravida pretium, orci. Nunc sit sollicitudin id egestas mattis. Turpis viverra nec urna ultrices urna.</div>
          <div class="service-summary__item--button">
            <a href="service-1.html"class=" button button--item">Learn more</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>