<section class="service-pricing">
  <div class="container">
    <div class="service-pricing__body">
      <div class="service-pricing__title title--section">
        Pricing
      </div>
      <div class="service-pricing__subtitle subtitle--section">
        We offer you three categories of construction.
      </div>
      <div class="table-wrapper">
        <table class="service-pricing__table table">
          <thead class="table__header">
            <tr class="table__row">
              <th class="table__th">Items</th>
              <th class="table__th">
                <div class="table__heading">Basic</div>
                <div class="table__per">$20 per m2</div>
              </th>
              <th class="table__th">
                <div class="table__heading">Standard</div>
                <div class="table__per">$30 per m2</div>
              </th>
              <th class="table__th">
                <div class="table__heading">Business</div>
                <div class="table__per">$40 per m2</div>
              </th>
            </tr>
          </thead>
          <tbody class="table__body">
            <tr class="table__row">
              <td class="table__col">Installation plan</td>
              <td class="table__col">
                <span class="table__check">Available</span>
              </td>
              <td class="table__col">
                <span class="table__check">Available</span>
              </td>
              <td class="table__col">
                <span class="table__check">Available</span>
              </td>
            </tr>
            <tr class="table__row">
              <td class="table__col">Planning solutions (2-3 options)</td>
              <td class="table__col">
                <span class="table__check">Available</span>
              </td>
              <td class="table__col">
                <span class="table__check">Available</span>
              </td>
              <td class="table__col">
                <span class="table__check">Available</span>
              </td>
            </tr>
            <tr class="table__row">
              <td class="table__col">Lighting plan</td>
              <td class="table__col">
                <span class="table__check">Available</span>
              </td>
              <td class="table__col">
                <span class="table__check">Available</span>
              </td>
              <td class="table__col">
                <span class="table__check">Available</span>
              </td>
            </tr>
            <tr class="table__row">
              <td class="table__col">Flooring plan</td>
              <td class="table__col">
                <span class="table__check">Available</span>
              </td>
              <td class="table__col">
                <span class="table__check">Available</span>
              </td>
              <td class="table__col">
                <span class="table__check">Available</span>
              </td>
            </tr>
            <tr class="table__row">
              <td class="table__col">Heating floor laying scheme</td>
              <td class="table__col">
                <span class="table__check">Available</span>
              </td>
              <td class="table__col">
                <span class="table__check">Available</span>
              </td>
              <td class="table__col">
                <span class="table__check">Available</span>
              </td>
            </tr>
            <tr class="table__row">
              <td class="table__col">Air conditioner zones layout</td>
              <td class="table__col">
                <span class="table__check">Available</span>
              </td>
              <td class="table__col">
                <span class="table__check">Available</span>
              </td>
              <td class="table__col">
                <span class="table__check">Available</span>
              </td>
            </tr>
            <tr class="table__row">
              <td class="table__col">3D visualization of all rooms</td>
              <td class="table__col">
                <span class="table__text">simplified</span>
              </td>
              <td class="table__col">
                <span class="table__check">Available</span>
              </td>
              <td class="table__col">
                <span class="table__check">Available</span>
              </td>
            </tr>
            <tr class="table__row">
              <td class="table__col">Visualization of each room (3-4 angles)</td>
              <td class="table__col">
              </td>
              <td class="table__col">
              </td>
              <td class="table__col">
                <span class="table__check">Available</span>
              </td>
            </tr>
            <tr class="table__row">
              <td class="table__col">Terms</td>
              <td class="table__col">
                <span class="table__text">10 days</span>
              </td>
              <td class="table__col">
                <span class="table__text">20 days</span>
              </td>
              <td class="table__col">
                <span class="table__text">30 days</span>
              </td>
            </tr>
            <tr class="table__row">
              <td class="table__col"></td>
              <td class="table__col">
                <button class="button button--item button--table">Send request</button>
              </td>
              <td class="table__col">
                <button class="button button--item button--table">Send request</button>
              </td>
              <td class="table__col">
                <button class="button button--item button--table">Send request</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="service-pricing__list">
        <div class="service-pricing__item">
          <div class="service-pricing__item--tariff">
            <div class="service-pricing__item--heading">Basic</div>
            <div class="service-pricing__item--per">$20 per m2</div>
          </div>
          <ul class="service-pricing__opportunity">
            <li class="service-pricing__opportunity--items">Installation plan</li>
            <li class="service-pricing__opportunity--items">Planning solutions (2-3 options)</li>
            <li class="service-pricing__opportunity--items">Lighting plan</li>
            <li class="service-pricing__opportunity--items">Flooring plan</li>
            <li class="service-pricing__opportunity--items">Heating floor laying scheme</li>
            <li class="service-pricing__opportunity--items">Air conditioner zones layout</li>
            <li class="service-pricing__opportunity--items">3D visualization of all rooms (simplified)</li>
            <li class="service-pricing__opportunity--items">Terms: 10 days</li>
          </ul>
          <div class="service-pricing__list--button button button--item button--table">
            send request
          </div>
        </div>
      </div>
    </div>
  </div>
</section>