<section class="service-summary">
  <div class="container">
    <div class="service-summary__body">
      <div class="service-summary__item">
        <div class="service-summary__item--img">
          <img src="./img/service/service1.jpg" alt="">
        </div>
        <div class="service-summary__item--text-block">
          <div class="service-summary__item--title">Construction</div>
          <div class="service-summary__item--subtitle subtitle--item subtitle--left">Sapien, feugiat faucibus orci arcu, vulputate. Tristique varius consectetur vulputate arcu, scelerisque nisi, nibh. Enim semper id sodales ultricies sed ut ut augue. Mattis habitant venenatis, gravida posuere massa ac interdum. Eget aliquam dignissim ut vestibulum. </div>
          <div class="service-summary__item--button">
            <a href="#"class=" button button--item">Learn more</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>