<section class="service-benefits">
  <div class="container">
    <div class="service-benefits__body">
      <div class="service-benefits__title title--section title--white">
        Our benefits
      </div>
      <div class="service-benefits__subtitle subtitle--section">
        Our mission is to set the highest standards for construction sphere.
      </div>
      <div class="service-benefits__list ">
        <div class="service-benefits__item">
          <div class="service-benefits__item--container">
            <div class="service-benefits__item--icon">
              <svg>
                <use xlink:href='./img/sprite.svg#terms'></use>
              </svg>
            </div>
            <div class="service-benefits__item--title title--item title--white">Fixed Terms & Cost</div>
            <div class="service-benefits__item--text">Culpa nostrud commodo ea consequat aliquip reprehenderit. Veniam velit nostrud aliquip sunt.
            </div>
          </div>
        </div>
        <div class="service-benefits__item">
          <div class="service-benefits__item--container">
            <div class="service-benefits__item--icon">
              <svg>
                <use xlink:href='./img/sprite.svg#workers'></use>
              </svg>
            </div>
            <div class="service-benefits__item--title title--item title--white">Qualified Workers</div>
            <div class="service-benefits__item--text">Anim reprehenderit sint voluptate exercitation adipisicing laborum adipisicing. Minim empor est ea.
            </div>
          </div>
        </div>
        <div class="service-benefits__item">
          <div class="service-benefits__item--container">
            <div class="service-benefits__item--icon">
              <svg>
                <use xlink:href='./img/sprite.svg#control'></use>
              </svg>
            </div>
            <div class="service-benefits__item--title title--item title--white">Supervision & Control</div>
            <div class="service-benefits__item--text">Sit veniam aute dolore adipisicing nulla sit culpa. Minim mollit voluptate ullamco proident ea ad.
            </div>
          </div>
        </div>
      </div>
      <div class="service-benefits__bottom">
        <a href="#" class="service-benefits__button">Discuss a project</a>
      </div>
    </div>
  </div>
</section>