<section class="services-section">
  <div class="container">
    <div class="services-section__body">
      <div class="services-section__title title--section">
        Our services
      </div>
      <div class="services-section__subtitle subtitle--section">
        Createx Construction Bureau is a construction giant with a full range of construction services.
      </div>
      <div class="services-section__list">
        <a href="#" class="services-section__item">
          <div class="services-section__item--icon">
            <svg class="services-section__item--svg">
              <use xlink:href='./img/sprite.svg#construction'></use>
            </svg>
          </div>
          <div class="services-section__item--title title--item">Construction</div>
        </a>
        <a href="#" class="services-section__item">
          <div class="services-section__item--icon">
            <svg class="services-section__item--svg">
              <use xlink:href='./img/sprite.svg#project-development'></use>
            </svg>
          </div>
          <div class="services-section__item--title title--item">Project Development</div>
        </a>
        <a href="#" class="services-section__item">
          <div class="services-section__item--icon">
            <svg class="services-section__item--svg">
              <use xlink:href='./img/sprite.svg#interior-design'></use>
            </svg>
          </div>
          <div class="services-section__item--title title--item">Interior Design</div>
        </a>
        <a href="#" class="services-section__item">
          <div class="services-section__item--icon">
            <svg class="services-section__item--svg">
              <use xlink:href='./img/sprite.svg#repairs'></use>
            </svg>
          </div>
          <div class="services-section__item--title title--item">Repairs</div>
        </a>
      </div>
      <div class="services-section__more see-more">
        <div class="see-more__title title--mini">Learn more about our services</div>
        <a href="#" class="see-more__button button">View services</a>
      </div>
    </div>
  </div>
</section>