<section class="service-offers">
  <div class="container">
    <div class="service-offers__body">
      <div class="service-offers__img">
        <img src="./img/service/service-1-offers.png" alt="">
      </div>
      <div class="service-offers__list">
          <div class="service-offers__list--title title--section title--left">
            We offer
          </div>
          <div class="service-offers__items">
            <div class="service-offers__item">
              <div class="service-offers__item--title title--mini active">
                Interior design of apartments
              </div>
              <div class="service-offers__item--text active">
                Adipiscing nunc arcu enim elit mattis eu placerat proin. Imperdiet elementum faucibus dignissim purus. Fusce parturient diam magna ullamcorper morbi semper massa ac facilisis.
              </div>
            </div>
            <div class="service-offers__item">
              <div class="service-offers__item--title title--mini">
                Interior design of private houses
              </div>
              <div class="service-offers__item--text">
                Adipiscing nunc arcu enim elit mattis eu placerat proin. Imperdiet elementum faucibus dignissim purus. Fusce parturient diam magna ullamcorper morbi semper massa ac facilisis.
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</section>