<section class="similar-projects">
  <div class="container">
    <div class="similar-projects__body">
      <div class="similar-projects__top">
        <div class="similar-projects__title title--section title--left">
          Similar projects
        </div>
        <div class="slider-nav">
          <button class="similar-projects__prev slider-btn">
            <svg class="nav-icon">
              <use xlink:href="img/sprite.svg#left-arrow"></use>
            </svg>
          </button>
          <button class="similar-projects__next slider-btn">
            <svg class="nav-icon">
              <use xlink:href="img/sprite.svg#right-arrow"></use>
            </svg>
          </button>
        </div>
      </div>
      <div class="swiper-container similar-projects__list swiper-no-swiping">
        <div class="swiper-wrapper projects">
          <div class="swiper-slide projects__item">
            <div class="projects__item--img">
              <img src="./img/service/related1.jpg" alt="">
            </div>
            <div class="projects__item--bottom">
              <div class="projects__item--text">
                <div class="projects__item--title title--item">
                  Kids Bedroom With Decorations
                </div>
                <div class="projects__item--subtitle subtitle--item">
                  Apartments & flats
                </div>
              </div>
              <div class="projects__item--button">
                <a href="work-1.html" class="projects__button">View Project</a>
              </div>
            </div>
          </div>
          <div class="swiper-slide projects__item">
            <div class="projects__item--img">
              <img src="./img/service/related2.jpg" alt="">
            </div>
            <div class="projects__item--bottom">
              <div class="projects__item--text">
                <div class="projects__item--title title--item">
                  Modern Double Bedroom
                </div>
                <div class="projects__item--subtitle subtitle--item">
                  Apartments & flats
                </div>
              </div>
              <div class="projects__item--button">
                <a href="work-1.html" class="projects__button">View Project</a>
              </div>
            </div>
          </div>
          <div class="swiper-slide projects__item">
            <div class="projects__item--img">
              <img src="./img/service/related3.jpg" alt="">
            </div>
            <div class="projects__item--bottom">
              <div class="projects__item--text">
                <div class="projects__item--title title--item">
                  Scandinavian Style Interior
                </div>
                <div class="projects__item--subtitle subtitle--item">
                  Private houses
                </div>
              </div>
              <div class="projects__item--button">
                <a href="work-1.html" class="projects__button">View Project</a>
              </div>
            </div>
          </div>
          <div class="swiper-slide projects__item">
            <div class="projects__item--img">
              <img src="./img/service/related2.jpg" alt="">
            </div>
            <div class="projects__item--bottom">
              <div class="projects__item--text">
                <div class="projects__item--title title--item">
                  Modern Double Bedroom
                </div>
                <div class="projects__item--subtitle subtitle--item">
                  Apartments & flats
                </div>
              </div>
              <div class="projects__item--button">
                <a href="work-1.html" class="projects__button">View Project</a>
              </div>
            </div>
          </div>
          <div class="swiper-slide projects__item">
            <div class="projects__item--img">
              <img src="./img/service/related1.jpg" alt="">
            </div>
            <div class="projects__item--bottom">
              <div class="projects__item--text">
                <div class="projects__item--title title--item">
                  Kids Bedroom With Decorations
                </div>
                <div class="projects__item--subtitle subtitle--item">
                  Apartments & flats
                </div>
              </div>
              <div class="projects__item--button">
                <a href="work-1.html" class="projects__button">View Project</a>
              </div>
            </div>
          </div>
          <div class="swiper-slide projects__item">
            <div class="projects__item--img">
              <img src="./img/service/related3.jpg" alt="">
            </div>
            <div class="projects__item--bottom">
              <div class="projects__item--text">
                <div class="projects__item--title title--item">
                  Scandinavian Style Interior
                </div>
                <div class="projects__item--subtitle subtitle--item">
                  Private houses
                </div>
              </div>
              <div class="projects__item--button">
                <a href="work-1.html" class="projects__button">View Project</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="similar-projects__more see-more">
        <div class="see-more__title title--mini">Explore all our works</div>
        <a href="work.html" class="see-more__button button">View portfolio</a>
      </div>
    </div>
  </div>
</section>