<section class="vacancies">
  <div class="container">
    <div class="vacancies__body">
      <div class="vacancies__list">
        <div class="vacancies__item">
          <div class="vacancies__left">
            <div class="vacancies__item--information">
              <div class="vacancies__item--location">
                New York
              </div>
              <span class="vertical-line"></span>
              <div class="vacancies__item--employment">
                Full Time
              </div>
            </div>
            <div class="vacancies__item--position">
              Heavy Equipment Operator
            </div>
          </div>
          <div class="vacancies__button">
            <a href="#"class=" button button--item">Apply now</a>
          </div>
        </div>
        <div class="vacancies__item">
          <div class="vacancies__left">
            <div class="vacancies__item--information">
              <div class="vacancies__item--location">
                San Francisco
              </div>
              <span class="vertical-line"></span>
              <div class="vacancies__item--employment">
                Full Time
              </div>
            </div>
            <div class="vacancies__item--position">
              Financial Compliance Analyst
            </div>
          </div>
          <div class="vacancies__button">
            <a href="#"class=" button button--item">Apply now</a>
          </div>
        </div>
        <div class="vacancies__item">
          <div class="vacancies__left">
            <div class="vacancies__item--information">
              <div class="vacancies__item--location">
                New Jersey
              </div>
              <span class="vertical-line"></span>
              <div class="vacancies__item--employment">
                Full Time
              </div>
            </div>
            <div class="vacancies__item--position">
              Project Manager - Buildings
            </div>
          </div>
          <div class="vacancies__button">
            <a href="#"class=" button button--item">Apply now</a>
          </div>
        </div>
        <div class="vacancies__item">
          <div class="vacancies__left">
            <div class="vacancies__item--information">
              <div class="vacancies__item--location">
                New York
              </div>
              <span class="vertical-line"></span>
              <div class="vacancies__item--employment">
                Part Time
              </div>
            </div>
            <div class="vacancies__item--position">
              Environment Specialist
            </div>
          </div>
          <div class="vacancies__button">
            <a href="#"class=" button button--item">Apply now</a>
          </div>
        </div>
        <div class="vacancies__item">
          <div class="vacancies__left">
            <div class="vacancies__item--information">
              <div class="vacancies__item--location">
                New York
              </div>
              <span class="vertical-line"></span>
              <div class="vacancies__item--employment">
                Full Time
              </div>
            </div>
            <div class="vacancies__item--position">
              Accountant
            </div>
          </div>
          <div class="vacancies__button">
            <a href="#"class=" button button--item">Apply now</a>
          </div>
        </div>
      </div>
      <div class="vacancies__menu">
        <div class="vacancies__menu--title">Didn’t find what you were looking for?</div>
        <div class="vacancies__menu--text">Send your CV or subscribe to our newsletter to receive information about new vacancies.</div>
        <div class="vacancies__menu--buttons">
          <a href="#page" class="vacancies__menu--subscribe">subscribe</a>
          <a href="#page" class="vacancies__menu--send">send cv</a>
        </div>
      </div>
    </div>
  </div>
</section>