<section class="works-section">
  <div class="container">
    <div class="works-section__body">
      <div class="works-section__top">
        <div class="works-section__title title--section title--left">
          Browse our selected projects 
and learn more about our work
        </div>
      </div>
      <div class="works-section__list">
        <div class="works-section__item">
          <div class="works-section__item--img">
            <img src="./img/work1.jpg" alt="">
          </div>
          <div class="works-section__item--text">
            <div class="works-section__item--title title--item">
              Red Finger Building
            </div>
            <div class="works-section__item--subtitle subtitle--item">
              Business Centers
            </div>
            <div class="works-section__item--button">
              <a href="#" class="button button--item">View Project</a>
            </div>
          </div>
        </div>
        <div class="works-section__item">
          <div class="works-section__item--img">
            <img src="./img/work1.jpg" alt="">
          </div>
          <div class="works-section__item--text">
            <div class="works-section__item--title title--item">
              Red Finger Building
            </div>
            <div class="works-section__item--subtitle subtitle--item">
              Business Centers
            </div>
            <div class="works-section__item--button">
              <a href="#" class="button button--item">View Project</a>
            </div>
          </div>
        </div>
        <div class="works-section__item">
          <div class="works-section__item--img">
            <img src="./img/work1.jpg" alt="">
          </div>
          <div class="works-section__item--text">
            <div class="works-section__item--title title--item">
              Red Finger Building
            </div>
            <div class="works-section__item--subtitle subtitle--item">
              Business Centers
            </div>
            <div class="works-section__item--button">
              <a href="#" class="button button--item">View Project</a>
            </div>
          </div>
        </div>
      </div>
      <div class="works-section__more see-more">
        <div class="see-more__title title--mini">Explore all our works</div>
        <a href="#" class="see-more__button button">View portfolio</a>
      </div>
    </div>
  </div>
</section>