<section class="work-clients">
  <div class="container">
    <div class="work-clients__body">
      <div class="work-clients__title title--section">
        Our clients
      </div>
      <div class="work-clients__list">
        <div class="work-clients__item">
          <a href="#" class="work-clients__item--icon">
            <img src="./img/partners/partner1.png" alt="">
          </a>
        </div>
        <div class="work-clients__item">
          <a href="#" class="work-clients__item--icon">
            <img src="./img/partners/partner2.png" alt="">
          </a>
        </div>
        <div class="work-clients__item">
          <a href="#" class="work-clients__item--icon">
            <img src="./img/partners/partner3.png" alt="">
          </a>
        </div>
        <div class="work-clients__item">
          <a href="#" class="work-clients__item--icon">
            <img src="./img/partners/partner4.png" alt="">
          </a>
        </div>
        <div class="work-clients__item">
          <a href="#" class="work-clients__item--icon">
            <img src="./img/partners/partner5.png" alt="">
          </a>
        </div>
        <div class="work-clients__item">
          <a href="#" class="work-clients__item--icon">
            <img src="./img/partners/partner6.png" alt="">
          </a>
        </div>
      </div>
    </div>
  </div>
</section>