<section class="work-decision">
  <div class="container">
    <div class="work-decision__body">
      <div class="work-decision__photo">
        <img src="./img/work/decision.jpg" alt="">
      </div>
      <div class="work-decision__right">
        <div class="work-decision__title title--section title--left">
          What our clients are saying
        </div>
        <ul class="work-decision__list">
          <li class="work-decision__item">
            Vitae ultrices ornare eu sed in est quisque duis id.
          </li>
          <li class="work-decision__item">
            A fermentum in morbi pretium aliquam adipiscing donec tempus.
          </li>
          <li class="work-decision__item">
            Mauris odio pellentesque commodo, diam.
          </li>
          <li class="work-decision__item">
            Fermentum vestibulum est fermentum, egestas gravida scelerisque quis.
          </li>
          <li class="work-decision__item">
            At pharetra libero blandit risus, fringilla sed commodo diam.
          </li>
          <li class="work-decision__item">
            Integer ultricies viverra ut enim viverra ut.
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>