<section class="works-section">
  <div class="container">
    <div class="works-section__body">
      <div class="works-section__top">
        <div class="works-section__title title--section title--left">
          Browse our selected projects 
and learn more about our work
        </div>
        <div class="slider-nav">
          <button class="works-section__prev slider-btn">
            <svg class="nav-icon">
              <use xlink:href="img/sprite.svg#left-arrow"></use>
            </svg>
          </button>
          <button class="works-section__next slider-btn">
            <svg class="nav-icon">
              <use xlink:href="img/sprite.svg#right-arrow"></use>
            </svg>
          </button>
        </div>
      </div>
      <div class="swiper-container works-section__list swiper-no-swiping">
        <div class="swiper-wrapper">
          <div class="swiper-slide works-section__item">
            <div class="works-section__item--img">
              <img src="./img/work1.jpg" alt="">
            </div>
            <div class="works-section__item--text">
              <div class="works-section__item--title title--item">
                Red Finger Building
              </div>
              <div class="works-section__item--subtitle subtitle--item">
                Business Centers
              </div>
              <div class="works-section__item--button">
                <a href="work-1.html" class="button button--item">View Project</a>
              </div>
            </div>
          </div>
          <div class="swiper-slide works-section__item">
            <div class="works-section__item--img">
              <img src="./img/work1.jpg" alt="">
            </div>
            <div class="works-section__item--text">
              <div class="works-section__item--title title--item">
                Red Finger Building
              </div>
              <div class="works-section__item--subtitle subtitle--item">
                Business Centers
              </div>
              <div class="works-section__item--button">
                <a href="work-1.html" class="button button--item">View Project</a>
              </div>
            </div>
          </div>
          <div class="swiper-slide works-section__item">
            <div class="works-section__item--img">
              <img src="./img/work1.jpg" alt="">
            </div>
            <div class="works-section__item--text">
              <div class="works-section__item--title title--item">
                Red Finger Building
              </div>
              <div class="works-section__item--subtitle subtitle--item">
                Business Centers
              </div>
              <div class="works-section__item--button">
                <a href="work-1.html" class="button button--item">View Project</a>
              </div>
            </div>
          </div>
          <div class="swiper-slide works-section__item">
            <div class="works-section__item--img">
              <img src="./img/work1.jpg" alt="">
            </div>
            <div class="works-section__item--text">
              <div class="works-section__item--title title--item">
                Red Finger Building
              </div>
              <div class="works-section__item--subtitle subtitle--item">
                Business Centers
              </div>
              <div class="works-section__item--button">
                <a href="work-1.html" class="button button--item">View Project</a>
              </div>
            </div>
          </div>
          <div class="swiper-slide works-section__item">
            <div class="works-section__item--img">
              <img src="./img/work1.jpg" alt="">
            </div>
            <div class="works-section__item--text">
              <div class="works-section__item--title title--item">
                Red Finger Building
              </div>
              <div class="works-section__item--subtitle subtitle--item">
                Business Centers
              </div>
              <div class="works-section__item--button">
                <a href="work-1.html" class="button button--item">View Project</a>
              </div>
            </div>
          </div>
          <div class="swiper-slide works-section__item">
            <div class="works-section__item--img">
              <img src="./img/work1.jpg" alt="">
            </div>
            <div class="works-section__item--text">
              <div class="works-section__item--title title--item">
                Red Finger Building
              </div>
              <div class="works-section__item--subtitle subtitle--item">
                Business Centers
              </div>
              <div class="works-section__item--button">
                <a href="work-1.html" class="button button--item">View Project</a>
              </div>
            </div>
          </div>
          <div class="swiper-slide works-section__item">
            <div class="works-section__item--img">
              <img src="./img/work1.jpg" alt="">
            </div>
            <div class="works-section__item--text">
              <div class="works-section__item--title title--item">
                Red Finger Building
              </div>
              <div class="works-section__item--subtitle subtitle--item">
                Business Centers
              </div>
              <div class="works-section__item--button">
                <a href="work-1.html" class="button button--item">View Project</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="works-section__more see-more">
        <div class="see-more__title title--mini">Explore all our works</div>
        <a href="work.html" class="see-more__button button">View portfolio</a>
      </div>
    </div>
  </div>
</section>