// базовые подключения
@import "vars";
@import "mixins";
@import "fonts";
@import "nullStyle";

// подключения компонентов страницы
@import "./components/header";

.container {
  max-width: 1250px;
  padding: 0 10px;
  margin: 0 auto;
}