// базовые подключения
@import "vars";
@import "mixins";
@import "fonts";
@import "nullStyle";

// подключения компонентов страницы
@import "./components/header";
@import "./components/hero-main";
@import "./components/about-section";
@import "./components/about-mission";
@import "./components/services-section";
@import "./components/works-section";
@import "./components/partners";
@import "./components/clients-company";
@import "./components/facts-news";
@import "./components/details";
@import "./components/footer";
@import "./components/hero-page";
@import "./components/service-summary";
@import "./components/service-offers";
@import "./components/how-we-do";
@import "./components/service-benefits";
@import "./components/related-projects";
@import "./components/service-pricing";
@import "./components/portfolio";
@import "./components/work-clients";
@import "./components/work-decision";
@import "./components/similar-projects";
// подключения елементов страницы
@import "./components/button";
@import "./components/title";
@import "./components/see-more";
@import "./components/swiper-button";
@import "./components/to-top";

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.container {
  max-width: 1250px;
  padding: 0 10px;
  margin: 0 auto;
}
body{
  &.lock{
  position: fixed;
  height: 100%;
  overflow: hidden;
  width: 100%;
  top: 0;
  left: 0;
  }
}
.content {
  flex: 1 1 auto;
}